﻿<script type="text/javascript">var petitionReviewerField = {{FieldArtifactID}};</script>
<script type="text/javascript" src="/Relativity/CustomPages/9126c473-3be6-4444-a22b-2eb586178f4a/scripts/documentpageinteraction.js"></script>