﻿
<div id="map" v-show="dataAvailable" v-cloak>
    <h2>Ohio State</h2>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="800" height="710" viewBox="-17500,-17038 37100,39952">
        <text class="state-name" y="10989.524" x="1233.5629">Hocking</text>
        <text class="state-name" x="1634.5137" y="4436.2866">Licking</text>
        <text class="state-name" y="5690.1914" x="-3182.2483">Franklin</text>
        <text class="state-name" x="-3237.9626" y="2227.3342">Delaware</text>
        <text class="state-name" y="-756.09436" x="6042.0376">Holmes</text>
        <text class="state-name" x="2331.1804" y="1016.6675">Knox</text>
        <text class="state-name" y="8107.7153" x="228.13275">Fairfield</text>
        <text class="state-name" x="4132.0376" y="8386.5723">Perry</text>
        <text class="state-name" y="2008.9531" x="5708.0376">Coshocton</text>
        <text class="state-name" x="6527.6616" y="-3310.9602" transform="matrix(0.5038961,0.8637643,-0.8637643,0.5038961,0,0)">Muskingum</text>
        <text class="state-name" x="9717.8477" y="4671.334">Guernsey</text>
        <text class="state-name" y="5118.8579" x="14106.609">Belmont</text>
        <text class="state-name" x="13522.896" y="8210.3818">Monroe</text>
        <text class="state-name" y="9332.9531" x="7067.4678">Morgan</text>
        <text class="state-name" x="10326.039" y="7889.9053">Noble</text>
        <text class="state-name" y="11134.382" x="9754.7061">Washington</text>
        <text class="state-name" x="6431.1807" y="-3825.9993">Wayne</text>
        <text class="state-name" x="5252.0391" y="12512.572">Athens</text>
        <text class="state-name" x="1247.0867" y="13387.62">Vinton</text>
        <text class="state-name" y="15246.858" x="5484.4199">Meigs</text>
        <text class="state-name" x="2963.658" y="18705.906">Gallia</text>
        <text class="state-name" y="9256.7637" x="-3629.6755">Pickaway</text>
        <text class="state-name" x="-2999.3899" y="12646.669">Ross</text>
        <text class="state-name" y="15646.859" x="-2975.5803">Pike</text>
        <text class="state-name" x="-2877.2947" y="18301.145">Scioto</text>
        <text class="state-name" y="16222.478" x="261.75299">Jackson</text>
        <text class="state-name" x="16860.385" y="9930.7676" transform="matrix(0.5673925,0.8234475,-0.8234475,0.5673925,0,0)">Lawrence</text>
        <text class="state-name" y="18086.537" x="-7059.9858">Adams</text>
        <text class="state-name" x="-10210.251" y="17444.484">Brown</text>
        <text class="state-name" y="18087.238" x="5922.645" transform="matrix(0.5,0.8660254,-0.8660254,0.5,0,0)">Clermont</text>
        <text class="state-name" y="7695.959" x="1686.228" transform="matrix(0.5,0.8660254,-0.8660254,0.5,0,0)">Madison</text>
        <text class="state-name" x="-6817.4019" y="9673.0771">Fayette</text>
        <text class="state-name" y="-3713.1294" x="11132.682">Stark</text>
        <text class="state-name" x="3699.8425" y="-9310.3105" transform="matrix(0.5,0.8660254,-0.8660254,0.5,0,0)">Tuscarawas</text>
        <text class="state-name" x="13284.419" y="1977.6199">Harrison</text>
        <text class="state-name" y="-1311.7135" x="13429.848">Carroll</text>
        <text class="state-name" x="14873.371" y="-3561.1421">Columbiana</text>
        <text class="state-name" y="-6939.1421" x="6437.6567">Medina</text>
        <text class="state-name" x="4486.0376" y="-9135.6182">Lorain</text>
        <text class="state-name" y="-10389.522" x="7599.1807">Cuyahoga</text>
        <text class="state-name" y="-3418.1641" x="-3316.0012" transform="matrix(0.5,0.8660254,-0.8660254,0.5,0,0)">Richland</text>
        <text class="state-name" transform="matrix(0.5,0.8660254,-0.8660254,0.5,0,0)" x="-2819.8464" y="-5918.4644">Ashland</text>
        <text class="state-name" y="-86.611473" x="-1620.2404" transform="matrix(0.5,0.8660254,-0.8660254,0.5,0,0)">Morrow</text>
        <text class="state-name" y="-1138.1896" x="-4352.915">Marion</text>
        <text class="state-name" x="-5964.0581" y="2147.9058">Union</text>
        <text class="state-name" y="14093.532" x="-16725.203">Hamilton</text>
        <text class="state-name" x="-16353.299" y="11542.484">Butler</text>
        <text class="state-name" y="-12714.143" x="-2446.2915" transform="matrix(0.5,0.8660254,-0.8660254,0.5,0,0)">Summit</text>
        <text class="state-name" x="12256.005" y="-7746.6123">Portage</text>
        <text class="state-name" y="-13454.041" x="12191.148">Lake</text>
        <text class="state-name" x="15477.244" y="-13670.231">Ashtabula</text>
        <text class="state-name" y="-9467.4609" x="15672.531">Trumbull</text>
        <text class="state-name" x="12080.092" y="-11225.463">Geauga</text>
        <text class="state-name" x="15565.522" y="-6119.6133">Mahoning</text>
        <text class="state-name" y="-14630.821" x="7611.7754" transform="matrix(0.5,0.8660254,-0.8660254,0.5,0,0)">Jefferson</text>
        <text class="state-name" y="15108.703" x="-1472.7906" transform="matrix(0.5,0.8660254,-0.8660254,0.5,0,0)">Montgomery</text>
        <text class="state-name" y="-13091.904" x="-8161.1055">Lucas</text>
        <text class="state-name" x="-8057.8672" y="-9461.5234">Wood</text>
        <text class="state-name" x="-4678.8198" y="-11829.333">Ottawa</text>
        <text class="state-name" x="-11533.678" y="-9395.0469">Henry</text>
        <text class="state-name" y="-12105.523" x="-16282.344">Williams</text>
        <text class="state-name" x="-15776.136" y="-9652.1963">Defiance</text>
        <text class="state-name" y="-12513.59" x="-12022.861">Fulton</text>
        <text class="state-name" x="-12304.009" y="-6204.7822">Putnam</text>
        <text class="state-name" y="-7092.5747" x="-16296.326">Paulding</text>
        <text class="state-name" x="-16498.621" y="-4230.3452">Van Wert</text>
        <text class="state-name" y="-3211.9788" x="-11967.451">Allen</text>
        <text class="state-name" y="-5982.4863" x="-8671.6914">Hancock</text>
        <text class="state-name" x="-3938.4688" y="-7062.0005">Seneca</text>
        <text class="state-name" y="-9602.001" x="-4498.4688">Sandusky</text>
        <text class="state-name" x="1179.3457" y="-9479.7051">Erie</text>
        <text class="state-name" y="-7431.25" x="812.45831">Huron</text>
        <text class="state-name" y="-1036.4811" x="-5847.7993" transform="matrix(0.5,0.8660254,-0.8660254,0.5,0,0)">Crawford</text>
        <text class="state-name" x="-5768.314" y="-4109.1973">Wyandot</text>
        <text class="state-name" x="-8403.4131" y="-2007.8727">Hardin</text>
        <text class="state-name" y="-1091.802" x="-13269.506">Auglaize</text>
        <text class="state-name" x="-16602.066" y="-938.93219">Mercer</text>
        <text class="state-name" y="1048.3746" x="-9203.1699">Logan</text>
        <text class="state-name" x="-10073.744" y="3820.0303">Champaign</text>
        <text class="state-name" y="3787.1604" x="-16463.215">Darke</text>
        <text class="state-name" x="-16868.955" y="8036.9395">Preble</text>
        <text class="state-name" y="14549.192" x="-8338.8232">Highland</text>
        <text class="state-name" x="-9639.2422" y="11776.389">Clinton</text>
        <text class="state-name" y="8738.9932" x="-10462.443">Greene</text>
        <text class="state-name" x="-9307.5205" y="6129.6333">Clark</text>
        <text class="state-name" y="1879.8541" x="-13246.969">Shelby</text>
        <text class="state-name" x="-13169.265" y="4712.6577">Miami</text>
        <text class="state-name" y="11714.093" x="-12921.229">Warren</text>
        <path class="state"
              d="M -7417,16025 L -6884,16049 L -6018,15856 L -4926,15656 L -4315,15695 L -4238,15795 L -4114,15901 L -4032,15991 L -3960,16036 L -3934,16096 L -3919,17822 L -3930,20534 L -3981,20590 L -4015,20627 L -4097,20716 L -4175,20754 L -4274,20722 L -4335,20676 L -4377,20618 L -4394,20539 L -4431,20370 L -4470,20284 L -4478,20277 L -4736,20099 L -4817,20057 L -4901,20034 L -4994,20009 L -5064,19995 L -5461,19935 L -5467,19934 L -5603,19914 L -5628,19900 L -5669,19877 L -5769,19763 L -5919,19648 L -5969,19611 L -6111,19567 L -6124,19564 L -6142,19563 L -6287,19577 L -6421,19621 L -6652,19695 L -6660,19697 L -6795,19728 L -6918,19756 L -7006,19793 L -7059,19847 L -7089,19899 L -7108,19934 L -7133,20015 L -7143,20115 L -7147,20154 L -7153,20211 L -7164,20235 L -7189,20291 L -7195,20296 L -7247,20353 L -7321,20399 L -7388,20403 L -7413,20398 L -7647,20314 L -7738,20257 L -7650,18894 L -7487,16896 L -7417,16025 z"
              id="Adams" />
        <path class="state"
              d="M -8960,-5096 L -8972,-3977 L -8980,-3005 L -8998,-2033 L -9961,-2036 L -10443,-2040 L -10919,-2034 L -10920,-2200 L -11888,-2208 L -11884,-2531 L -13354,-2543 L -13337,-3994 L -12855,-3990 L -12851,-4468 L -12390,-4469 L -10900,-4457 L -10896,-4941 L -9928,-4938 L -9928,-5099 L -8960,-5096 z"
              id="Allen" />
        <path class="state"
              d="M 4036,-6666 L 4112,-6667 L 5424,-6651 L 5419,-6425 L 5411,-5855 L 5785,-5857 L 5825,-3479 L 5840,-2260 L 5036,-2247 L 5050,-1144 L 4067,-994 L 4053,-1891 L 4048,-1976 L 4034,-2898 L 3896,-2897 L 3778,-2897 L 3706,-2902 L 3706,-3058 L 3705,-3164 L 3705,-3375 L 3699,-3506 L 3699,-3572 L 3637,-3642 L 3601,-3672 L 3616,-3722 L 3616,-3798 L 3452,-3802 L 3452,-3873 L 3370,-3868 L 3369,-3938 L 3384,-4019 L 3377,-4543 L 3377,-4573 L 3352,-5858 L 3301,-5852 L 3229,-5852 L 3201,-6477 L 3196,-6512 L 3196,-6653 L 4036,-6666"
              id="Ashland" />
        <path class="state"
              d="M 15066,-15553 L 15148,-15568 L 15210,-15584 L 15245,-15594 L 15271,-15599 L 15373,-15625 L 15429,-15646 L 15496,-15661 L 15588,-15677 L 15644,-15687 L 15721,-15698 L 15787,-15718 L 15843,-15733 L 15884,-15744 L 15951,-15779 L 16037,-15825 L 16124,-15861 L 16181,-15887 L 16232,-15912 L 16267,-15932 L 16328,-15973 L 16369,-15994 L 16410,-16004 L 16451,-16024 L 16502,-16045 L 16543,-16055 L 16589,-16075 L 16650,-16116 L 16691,-16167 L 16726,-16192 L 16808,-16213 L 16829,-16213 L 16849,-16193 L 16870,-16183 L 16895,-16193 L 16921,-16203 L 16946,-16209 L 16967,-16214 L 16992,-16229 L 17023,-16249 L 17054,-16265 L 17079,-16290 L 17094,-16300 L 17151,-16311 L 17232,-16316 L 17299,-16326 L 17330,-16332 L 17401,-16352 L 17467,-16388 L 17529,-16408 L 17636,-16454 L 17702,-16475 L 17799,-16531 L 17856,-16552 L 17947,-16592 L 18085,-16623 L 18152,-16639 L 18254,-16695 L 18330,-16736 L 18407,-16772 L 18565,-16833 L 18667,-16874 L 18729,-16889 L 18846,-16925 L 18861,-16951 L 18928,-16981 L 18999,-17022 L 19050,-17038 L 19067,-16040 L 19082,-15612 L 19116,-14466 L 19128,-14033 L 19141,-13543 L 19174,-12101 L 19174,-12030 L 19176,-12000 L 19181,-11831 L 19185,-11718 L 18352,-11688 L 17563,-11678 L 16749,-11674 L 16268,-11661 L 16135,-11660 L 15142,-11655 L 15101,-13763 L 15095,-14020 L 15066,-15553 z"
              id="Ashtabula" />
        <path class="state"
              d="M 6610,10142 L 6595,10324 L 6596,10389 L 6596,10409 L 6586,10485 L 6586,10500 L 6542,11139 L 6537,11164 L 6737,11169 L 7568,11200 L 8368,11242 L 8354,11570 L 8317,12541 L 8307,12712 L 8476,12717 L 8472,12878 L 8626,12887 L 8621,13008 L 8617,13204 L 9468,13221 L 9460,13830 L 9435,13856 L 9410,13892 L 9396,13923 L 9374,13969 L 9363,14005 L 9349,14045 L 9323,14081 L 9299,14102 L 9269,14128 L 9244,14149 L 9221,14178 L 9200,14210 L 9200,14223 L 8426,14191 L 7425,14155 L 6374,14109 L 5394,14047 L 4732,14010 L 4761,13587 L 4805,13018 L 4472,12999 L 4540,12008 L 4550,11851 L 4613,11021 L 5588,11088 L 5607,10806 L 5651,10091 L 5707,10091 L 6610,10142 z"
              id="Athens" />
        <path class="state"
              d="M -13354,-2543 L -11884,-2531 L -11888,-2208 L -10920,-2200 L -10919,-2034 L -10443,-2040 L -9961,-2036 L -8998,-2033 L -9002,-1811 L -8997,-1791 L -9006,-1167 L -9010,-854 L -9281,-818 L -9527,-823 L -9973,-827 L -9977,-243 L -10054,-248 L -12908,-272 L -12926,861 L -13735,857 L -13740,1119 L -13919,1074 L -13915,853 L -13897,-120 L -13878,-1092 L -13865,-2064 L -13856,-2552 L -13354,-2543 z"
              id="Auglaize" />
        <path class="state"
              d="M 13550,3170 L 13549,3140 L 13596,3139 L 13693,3139 L 13780,3144 L 14523,3145 L 14518,3175 L 14554,3180 L 15503,3206 L 15554,3210 L 16477,3231 L 16543,3231 L 17466,3261 L 17471,3205 L 18009,3223 L 18001,3240 L 17993,3274 L 17984,3324 L 17977,3370 L 17971,3417 L 17968,3439 L 17964,3475 L 17970,3545 L 17991,3605 L 17991,3671 L 17992,3747 L 17982,3802 L 17963,3835 L 17903,3895 L 17894,3903 L 17849,3944 L 17818,3974 L 17787,4010 L 17783,4015 L 17760,4048 L 17743,4084 L 17737,4100 L 17733,4116 L 17727,4145 L 17733,4185 L 17748,4226 L 17767,4264 L 17783,4305 L 17794,4342 L 17799,4382 L 17800,4432 L 17800,4465 L 17799,4475 L 17795,4506 L 17790,4538 L 17783,4560 L 17778,4577 L 17774,4588 L 17754,4649 L 17749,4664 L 17737,4706 L 17735,4714 L 17729,4770 L 17727,4788 L 17724,4810 L 17724,4881 L 17735,4971 L 17743,5024 L 17746,5047 L 17757,5112 L 17762,5173 L 17762,5207 L 17761,5227 L 17752,5273 L 17733,5318 L 17713,5339 L 17685,5374 L 17643,5403 L 17588,5454 L 17559,5501 L 17545,5551 L 17546,5577 L 17549,5597 L 17563,5653 L 17585,5722 L 17614,5791 L 17631,5836 L 17641,5873 L 17642,5881 L 17639,5931 L 17626,5968 L 17613,5979 L 17600,5988 L 17569,5994 L 17544,5994 L 17499,5975 L 17453,5950 L 17440,5942 L 17407,5923 L 17377,5904 L 17341,5895 L 17305,5890 L 17249,5903 L 17219,5916 L 17213,5920 L 17192,5960 L 17186,6001 L 17196,6042 L 17214,6100 L 17241,6155 L 17249,6174 L 17264,6202 L 17295,6239 L 17326,6282 L 17342,6318 L 17347,6335 L 17350,6353 L 17356,6393 L 17353,6430 L 17332,6469 L 17312,6494 L 17286,6519 L 17245,6560 L 17179,6601 L 17149,6619 L 17097,6651 L 17086,6656 L 15636,6613 L 15400,6600 L 15400,6584 L 14456,6559 L 14456,6544 L 14364,6539 L 13513,6533 L 13516,6045 L 13516,5995 L 13519,5692 L 13524,5627 L 13524,5602 L 13550,3170 z"
              id="Belmont" />
        <path class="state"
              d="M -10159,13395 L -9056,13488 L -9084,14656 L -9089,14681 L -9117,15602 L -9141,15964 L -9131,15999 L -8664,16018 L -7669,16011 L -7417,16025 L -7487,16896 L -7650,18894 L -7738,20257 L -7849,20187 L -7972,20167 L -8166,20134 L -8210,20123 L -8277,20083 L -8285,20072 L -8336,19987 L -8344,19972 L -8365,19882 L -8398,19728 L -8406,19701 L -8412,19682 L -8458,19581 L -8508,19539 L -8628,19500 L -8757,19457 L -8874,19370 L -8910,19320 L -8918,19293 L -8947,19159 L -8955,19123 L -8967,19073 L -8970,19067 L -9043,18946 L -9050,18938 L -9069,18924 L -9144,18883 L -9158,18877 L -9214,18863 L -9227,18860 L -9389,18823 L -9456,18808 L -9630,18748 L -9756,18654 L -9785,18632 L -9932,18583 L -10008,18592 L -10015,18593 L -10097,18603 L -10231,18644 L -10446,18673 L -10685,18731 L -10708,18735 L -10743,18735 L -10643,17910 L -10624,17603 L -10274,14588 L -10223,14311 L -10159,13395 z"
              id="Brown" />
        <path class="state"
              d="M -13308,9622 L -13313,9853 L -13312,10100 L -13255,10130 L -13194,10125 L -13076,10094 L -13025,10099 L -13069,10628 L -13114,11106 L -13084,11106 L -13083,11161 L -13169,11922 L -13253,12933 L -13556,12868 L -13910,12849 L -13966,12834 L -14212,12794 L -14376,12810 L -14561,12749 L -14725,12780 L -15064,12715 L -15372,12706 L -15644,12661 L -15705,12691 L -15741,12736 L -16269,12727 L -17271,12698 L -17255,12170 L -17247,12013 L -17223,11501 L -17203,10882 L -17186,10299 L -17183,10212 L -17171,9789 L -16205,9813 L -15246,9831 L -14282,9840 L -14277,9603 L -13385,9622 L -13308,9622 z"
              id="Butler" />
        <path class="state"
              d="M 12681,-2164 L 12794,-2165 L 13004,-2161 L 13034,-2161 L 13327,-2162 L 13343,-2973 L 13666,-2965 L 13666,-3040 L 14501,-3045 L 14568,-3050 L 14609,-3045 L 15346,-3054 L 16038,-3067 L 16055,-2775 L 16061,-2513 L 16056,-2458 L 16058,-2136 L 16544,-2138 L 16546,-1901 L 16546,-1816 L 16541,-1796 L 16546,-1786 L 16546,-1745 L 16542,-1660 L 16544,-1166 L 16057,-1169 L 16050,-378 L 16051,-363 L 16046,-186 L 15944,-191 L 15939,-186 L 15913,-191 L 15910,263 L 15910,298 L 14695,284 L 14562,279 L 14567,254 L 13629,244 L 13614,249 L 13614,269 L 13573,269 L 13127,251 L 13128,-630 L 13133,-796 L 13137,-907 L 13146,-1209 L 12659,-1217 L 12672,-1867 L 12681,-2164 z"
              id="Carroll" />
        <path class="state"
              d="M -6253,2609 L -5766,2658 L -5845,3761 L -5859,3927 L -5959,5035 L -6969,4972 L -8574,4820 L -9215,4776 L -10102,4692 L -10404,4668 L -10394,4517 L -10394,4491 L -10275,3071 L -10230,2588 L -10231,2563 L -10186,2074 L -9919,2104 L -9842,2109 L -9678,2123 L -9002,2182 L -8966,2187 L -8227,2251 L -8237,2382 L -8242,2417 L -6253,2609 z"
              id="Champaign" />
        <path class="state"
              d="M -10404,4668 L -10102,4692 L -9215,4776 L -8574,4820 L -6969,4972 L -5959,5035 L -5907,5045 L -5917,5110 L -6207,6133 L -6267,6380 L -6318,6571 L -6425,6964 L -6490,7236 L -6607,7719 L -7115,7670 L -7110,7635 L -7899,7572 L -7915,7486 L -8489,7402 L -8674,7377 L -8649,7105 L -9629,7022 L -9614,6856 L -10178,6807 L -10337,6792 L -10588,6772 L -10558,6440 L -10474,5473 L -10404,4668 z"
              id="Clark" />
        <path class="state"
              d="M -12457,13183 L -10272,13380 L -10159,13395 L -10223,14311 L -10274,14588 L -10624,17603 L -10643,17910 L -10743,18735 L -10958,18729 L -11323,18595 L -11613,18489 L -11812,18453 L -11844,18444 L -12058,18381 L -12069,18375 L -12177,18301 L -12227,18245 L -12238,18230 L -12270,18148 L -12279,18107 L -12284,18083 L -12306,17970 L -12291,17621 L -12289,17588 L -12288,17528 L -12334,17355 L -12356,17317 L -12462,17134 L -12538,17017 L -12780,16648 L -12828,16511 L -12834,16384 L -12841,16350 L -12875,16182 L -12882,16165 L -12957,16008 L -13014,15927 L -12878,14875 L -12844,14472 L -12839,14422 L -12844,14397 L -12818,14337 L -12813,14266 L -12819,14236 L -12757,14175 L -12732,14165 L -12716,14110 L -12711,14090 L -12686,14065 L -12665,14019 L -12629,13994 L -12619,13959 L -12619,13908 L -12676,13818 L -12722,13818 L -12768,13853 L -12912,13864 L -12953,13723 L -12989,13708 L -12989,13693 L -12984,13678 L -12887,13597 L -12825,13577 L -12780,13521 L -12764,13436 L -12734,13405 L -12647,13375 L -12549,13299 L -12534,13274 L -12478,13239 L -12468,13199 L -12457,13183 z"
              id="Clermont" />
        <path class="state"
              d="M -7338,10142 L -6948,10177 L -6528,10211 L -6671,12053 L -7336,12543 L -8364,13330 L -8415,13441 L -8441,13552 L -8497,13613 L -8502,13663 L -8532,13678 L -8583,13764 L -8799,13754 L -8784,13508 L -9056,13488 L -10159,13395 L -10272,13380 L -10208,12610 L -10039,10667 L -10019,10461 L -10014,10375 L -9999,10229 L -9969,9902 L -7338,10142 z"
              id="Clinton" />
        <path class="state"
              d="M 14574,-4969 L 16172,-5003 L 16172,-5129 L 16176,-5325 L 16801,-5334 L 16802,-5198 L 16807,-5142 L 16803,-5011 L 19369,-5060 L 19383,-4545 L 19399,-3916 L 19427,-2560 L 19428,-2481 L 19433,-2219 L 19434,-2162 L 19411,-2150 L 19330,-2107 L 19244,-2085 L 19178,-2058 L 19128,-2020 L 19087,-1991 L 19043,-1947 L 19003,-1921 L 18980,-1906 L 18959,-1894 L 18932,-1894 L 18898,-1904 L 18862,-1935 L 18836,-1959 L 18795,-1995 L 18759,-2004 L 18723,-2009 L 18672,-1993 L 18641,-1978 L 18594,-1959 L 18556,-1942 L 18515,-1913 L 18493,-1896 L 18451,-1858 L 18433,-1836 L 18421,-1821 L 18401,-1786 L 18362,-1739 L 18334,-1705 L 18303,-1672 L 18258,-1630 L 18242,-1608 L 18238,-1603 L 18219,-1564 L 18216,-1542 L 18213,-1512 L 17521,-1499 L 17515,-1655 L 17495,-1655 L 16793,-1651 L 16752,-1651 L 16542,-1660 L 16546,-1745 L 16546,-1786 L 16541,-1796 L 16546,-1816 L 16546,-1901 L 16544,-2138 L 16058,-2136 L 16056,-2458 L 16061,-2513 L 16055,-2775 L 16038,-3067 L 15346,-3054 L 14609,-3045 L 14574,-4969 z"
              id="Columbiana" />
        <path class="state"
              d="M 5362,94 L 6162,131 L 6198,131 L 6203,116 L 6638,129 L 6695,129 L 7023,137 L 7828,164 L 9396,183 L 9378,903 L 9379,1004 L 10194,1025 L 10182,1836 L 10164,2657 L 9780,2648 L 9768,3434 L 9373,3431 L 8799,3418 L 8748,3418 L 8697,3413 L 8579,3409 L 8471,3404 L 7769,3387 L 6954,3370 L 6164,3348 L 5359,3311 L 5392,2511 L 5279,2506 L 5321,1328 L 5321,1312 L 5330,1101 L 5335,955 L 5339,753 L 5344,592 L 5348,441 L 5353,280 L 5357,174 L 5362,129 L 5362,94 z"
              id="Coshocton" />
        <path class="state"
              d="M -106,-5886 L 99,-5887 L 171,-5882 L 729,-5879 L 776,-5879 L 776,-5723 L 777,-5531 L 775,-4534 L 756,-2715 L 566,-2719 L -351,-2726 L -351,-2646 L -786,-2644 L -1155,-2633 L -1247,-2633 L -2128,-2630 L -2318,-2625 L -2487,-2629 L -2486,-5616 L -2492,-5853 L -2165,-5854 L -2037,-5860 L -2006,-5860 L -1837,-5855 L -858,-5853 L -710,-5854 L -367,-5850 L -310,-5855 L -305,-5890 L -213,-5886 L -152,-5891 L -106,-5886 z"
              id="Crawford" />
        <path class="state"
              d="M 11066,-13022 L 11084,-12336 L 11893,-12350 L 11915,-10964 L 12042,-10969 L 12053,-10838 L 12054,-10737 L 11910,-10737 L 11916,-10621 L 11916,-10591 L 11924,-9890 L 10496,-9893 L 10286,-9892 L 10287,-9691 L 10349,-9489 L 10550,-9112 L 10515,-9082 L 10233,-9076 L 9875,-9069 L 9798,-9069 L 9485,-9062 L 8646,-9043 L 7868,-9015 L 7864,-9856 L 7075,-9858 L 7075,-11270 L 7084,-11562 L 7161,-11517 L 7263,-11467 L 7325,-11452 L 7392,-11427 L 7535,-11398 L 7817,-11363 L 7899,-11359 L 7965,-11364 L 8073,-11375 L 8134,-11410 L 8195,-11410 L 8282,-11451 L 8369,-11472 L 8502,-11498 L 8564,-11488 L 8651,-11473 L 8753,-11443 L 8917,-11404 L 8999,-11434 L 9004,-11434 L 9122,-11495 L 9188,-11531 L 9239,-11591 L 9295,-11622 L 9362,-11673 L 9423,-11718 L 9469,-11754 L 9535,-11784 L 9591,-11815 L 9653,-11850 L 9719,-11901 L 9862,-12023 L 9974,-12114 L 10025,-12140 L 10086,-12205 L 10127,-12246 L 10183,-12297 L 10239,-12342 L 10280,-12388 L 10392,-12479 L 10453,-12540 L 10494,-12590 L 10550,-12651 L 10617,-12712 L 10673,-12768 L 10713,-12823 L 10780,-12854 L 10867,-12895 L 10958,-12945 L 11040,-12996 L 11066,-13022 z"
              id="Cuyahoga" />
        <path class="state"
              d="M -13740,1119 L -13756,2866 L -13759,5953 L -14266,5954 L -15215,5950 L -16143,5937 L -16624,5927 L -17073,5913 L -17064,5543 L -17045,4924 L -16999,3586 L -16992,3490 L -16959,3058 L -16912,1548 L -16897,1068 L -16733,1078 L -16082,1098 L -15149,1121 L -15149,1106 L -14258,1110 L -13740,1119 z"
              id="Darke" />
        <path class="state"
              d="M -12748,-10783 L -11801,-10770 L -11809,-9802 L -11827,-8829 L -11845,-7861 L -12798,-7870 L -12789,-8359 L -13756,-8382 L -13752,-8866 L -14715,-8880 L -15693,-8893 L -16661,-8917 L -16661,-8927 L -16659,-9111 L -16652,-9579 L -16648,-9910 L -16629,-10843 L -15666,-10829 L -14688,-10810 L -13731,-10797 L -12748,-10783 z"
              id="Defiance" />
        <path class="state"
              d="M -1735,365 L -1744,531 L -919,579 L -948,1017 L -963,1209 L 570,1299 L 611,1299 L 572,1944 L 562,2105 L 533,2659 L 466,3787 L -1037,3696 L -2139,3644 L -3011,3592 L -3024,2469 L -3670,2456 L -3664,1091 L -3680,930 L -3662,245 L -2519,322 L -1735,365 z"
              id="Delaware" />
        <g class="state" id="Erie">
            <path d="M 972,-12840 L 977,-12784 L 1023,-12759 L 1054,-12734 L 1100,-12744 L 1105,-12775 L 1120,-12800 L 1161,-12810 L 1171,-12825 L 1192,-12840 L 1207,-12850 L 1192,-12790 L 1177,-12729 L 1146,-12679 L 1167,-12639 L 1177,-12608 L 1141,-12573 L 1126,-12538 L 1085,-12502 L 1034,-12457 L 988,-12451 L 916,-12502 L 875,-12542 L 839,-12567 L 798,-12562 L 747,-12567 L 711,-12592 L 701,-12617 L 696,-12647 L 732,-12672 L 767,-12713 L 762,-12768 L 798,-12824 L 844,-12844 L 895,-12865 L 951,-12850 L 972,-12840 z" />
            <path d="M 3913,-10697 L 3947,-9901 L 3975,-9090 L 3135,-9082 L 2301,-9099 L 1461,-9106 L 626,-9118 L -209,-9141 L -255,-10703 L -419,-10703 L -721,-10702 L -629,-10778 L -573,-10803 L -532,-10843 L -486,-10828 L -424,-10844 L -342,-10834 L -261,-10874 L -199,-10930 L -128,-10971 L -77,-11041 L -77,-11147 L -72,-11198 L -42,-11203 L 10,-11153 L 41,-11143 L 87,-11173 L 143,-11123 L 194,-11123 L 246,-11083 L 281,-11063 L 312,-10987 L 364,-10937 L 415,-10892 L 425,-10887 L 461,-10877 L 512,-10872 L 579,-10892 L 620,-10913 L 645,-10918 L 661,-10913 L 692,-10898 L 712,-10903 L 747,-11054 L 778,-11054 L 768,-10948 L 804,-10969 L 855,-10999 L 896,-11019 L 947,-11040 L 983,-11040 L 1024,-11000 L 1075,-10965 L 1198,-10955 L 1290,-10965 L 1291,-10935 L 1265,-10915 L 1209,-10894 L 1193,-10894 L 1158,-10879 L 1188,-10859 L 1270,-10859 L 1306,-10854 L 1316,-10875 L 1327,-10885 L 1362,-10885 L 1393,-10900 L 1403,-10880 L 1393,-10840 L 1383,-10819 L 1404,-10784 L 1429,-10794 L 1445,-10719 L 1476,-10724 L 1506,-10719 L 1542,-10699 L 1578,-10669 L 1630,-10634 L 1671,-10609 L 1696,-10594 L 1717,-10579 L 1742,-10569 L 1783,-10549 L 1799,-10574 L 1778,-10604 L 1747,-10629 L 1706,-10659 L 1681,-10684 L 1650,-10720 L 1619,-10750 L 1593,-10775 L 1557,-10800 L 1516,-10815 L 1480,-10855 L 1449,-10905 L 1419,-10946 L 1388,-10981 L 1352,-11011 L 1295,-11056 L 1254,-11101 L 1208,-11121 L 1126,-11252 L 1038,-11282 L 1028,-11337 L 1064,-11368 L 1130,-11338 L 1161,-11308 L 1187,-11267 L 1223,-11217 L 1269,-11167 L 1372,-11051 L 1429,-11001 L 1490,-10936 L 1547,-10880 L 1629,-10835 L 1701,-10755 L 1762,-10705 L 1824,-10655 L 1881,-10584 L 1973,-10524 L 2029,-10499 L 2194,-10389 L 2265,-10349 L 2281,-10339 L 2399,-10279 L 2491,-10224 L 2578,-10189 L 2650,-10169 L 2906,-10195 L 3018,-10246 L 3080,-10271 L 3187,-10332 L 3330,-10408 L 3422,-10464 L 3514,-10515 L 3576,-10550 L 3637,-10586 L 3713,-10626 L 3759,-10657 L 3836,-10672 L 3892,-10692 L 3913,-10697 z" />
        </g>
        <path class="state"
              d="M 288,5852 L 570,5871 L 657,5876 L 1155,5904 L 1432,5923 L 2334,5976 L 2637,5990 L 2934,6014 L 3026,5953 L 3021,6024 L 3016,6034 L 3006,6149 L 3001,6215 L 2992,6346 L 2962,6754 L 2943,6985 L 3599,7028 L 3555,7748 L 3541,8010 L 3715,8019 L 3864,8034 L 3791,9006 L 3447,8982 L 2801,8939 L 2752,9593 L 1711,9527 L 1692,10025 L 738,9973 L 733,10124 L -72,10061 L -226,10051 L -206,9820 L -152,9075 L -178,9075 L -65,7464 L -41,7137 L 118,7151 L 158,6688 L 192,6174 L 28,6160 L 47,5837 L 288,5852 z"
              id="Fairfield" />
        <path class="state"
              d="M -7174,8295 L -6933,8319 L -5200,8461 L -3738,8557 L -3875,10546 L -3942,10677 L -3957,10687 L -4793,12083 L -6671,12053 L -6528,10211 L -6948,10177 L -7338,10142 L -7174,8295 z"
              id="Fayette" />
        <path class="state"
              d="M -3011,3592 L -2139,3644 L -1037,3696 L 466,3787 L 374,5444 L 317,5444 L 318,5469 L 288,5852 L 47,5837 L 28,6160 L 192,6174 L 158,6688 L 118,7151 L -41,7137 L -65,7464 L -1896,7339 L -3158,7297 L -3655,7248 L -3725,6096 L -3577,6000 L -3592,5985 L -3608,5944 L -3598,5899 L -3603,5808 L -3639,5763 L -3670,5713 L -3701,5673 L -3727,5507 L -3728,5381 L -3759,5250 L -3790,5195 L -3836,5094 L -3826,5064 L -3790,5029 L -3755,4968 L -3750,4928 L -3791,4797 L -3807,4707 L -3797,4621 L -3376,4645 L -3322,3980 L -3014,3989 L -3011,3592 z"
              id="Franklin" />
        <path class="state"
              d="M -12864,-13901 L -11014,-13918 L -9845,-13937 L -9311,-13953 L -8895,-13967 L -8842,-13125 L -8841,-12832 L -8877,-12837 L -8905,-11542 L -8904,-11390 L -12744,-11428 L -12735,-11741 L -13057,-11745 L -13053,-12114 L -13039,-12890 L -13182,-12890 L -13178,-13439 L -13169,-13898 L -12864,-13901 z"
              id="Fulton" />
        <path class="state"
              d="M 3303,15887 L 3841,15930 L 4277,15959 L 4268,16110 L 4273,16130 L 4391,16134 L 5191,16172 L 5263,16176 L 6222,16228 L 6248,16233 L 6238,16384 L 6224,16625 L 6224,16666 L 6214,16792 L 6200,16818 L 6195,16831 L 6184,16867 L 6177,16884 L 6168,16902 L 6138,16973 L 6118,17014 L 6085,17078 L 6044,17155 L 6037,17170 L 6008,17231 L 5975,17275 L 5943,17308 L 5903,17346 L 5878,17387 L 5857,17437 L 5853,17453 L 5851,17472 L 5847,17517 L 5854,17583 L 5857,17598 L 5868,17638 L 5884,17693 L 5890,17748 L 5892,17803 L 5884,17885 L 5870,17965 L 5849,18031 L 5814,18092 L 5778,18137 L 5734,18185 L 5694,18221 L 5630,18263 L 5583,18282 L 5578,18284 L 5522,18309 L 5482,18326 L 5476,18329 L 5436,18345 L 5401,18372 L 5384,18383 L 5363,18400 L 5312,18450 L 5276,18481 L 5231,18551 L 5218,18584 L 5208,18619 L 5205,18669 L 5200,18725 L 5208,18770 L 5219,18795 L 5233,18815 L 5242,18823 L 5273,18843 L 5298,18863 L 5329,18877 L 5355,18907 L 5391,18944 L 5410,18985 L 5421,19025 L 5422,19064 L 5423,19116 L 5425,19176 L 5437,19231 L 5471,19326 L 5489,19372 L 5504,19410 L 5512,19429 L 5526,19471 L 5524,19551 L 5515,19596 L 5496,19642 L 5472,19703 L 5463,19754 L 5461,19787 L 5461,19798 L 5468,19844 L 5472,19864 L 5495,19954 L 5529,20069 L 5571,20185 L 5574,20194 L 5607,20268 L 5626,20373 L 5632,20419 L 5638,20467 L 5631,20513 L 5627,20542 L 5608,20611 L 5584,20657 L 5544,20703 L 5525,20720 L 5500,20739 L 5483,20754 L 5458,20771 L 5425,20786 L 5398,20795 L 5343,20799 L 5336,20800 L 5264,20810 L 5239,20807 L 5167,20796 L 5099,20776 L 5038,20757 L 4982,20741 L 4944,20734 L 4929,20731 L 4872,20733 L 4831,20739 L 4804,20750 L 4792,20757 L 4751,20792 L 4696,20839 L 4661,20870 L 4637,20890 L 4634,20893 L 3967,20876 L 4000,20237 L 4005,20131 L 4020,19945 L 4025,19874 L 3896,19865 L 2998,19807 L 3003,19646 L 3042,19153 L 2868,19134 L 2892,18807 L 2035,18729 L 2050,18533 L 2079,18170 L 2084,18090 L 2094,18009 L 2104,17914 L 2976,17986 L 3141,18006 L 3151,17895 L 3160,17794 L 3175,17603 L 3190,17407 L 3190,17382 L 3234,16868 L 3264,16546 L 3278,16194 L 3293,16048 L 3303,15887 z"
              id="Gallia" />
        <path class="state"
              d="M 11893,-12350 L 12686,-12364 L 12678,-13150 L 14290,-13184 L 14271,-13995 L 15095,-14020 L 15101,-13763 L 15142,-11655 L 15169,-10365 L 15181,-9941 L 14377,-9922 L 13604,-9908 L 12708,-9889 L 11924,-9890 L 11916,-10591 L 11916,-10621 L 11910,-10737 L 12054,-10737 L 12053,-10838 L 12042,-10969 L 11915,-10964 L 11893,-12350 z"
              id="Geauga" />
        <path class="state"
              d="M -10588,6772 L -10337,6792 L -10178,6807 L -9614,6856 L -9629,7022 L -8649,7105 L -8674,7377 L -8489,7402 L -7915,7486 L -7899,7572 L -7110,7635 L -7115,7670 L -7174,8295 L -7338,10142 L -9969,9902 L -10426,9857 L -11144,9789 L -11099,9255 L -11120,9250 L -11120,9230 L -11050,8389 L -10991,7704 L -10986,7629 L -10966,7392 L -10921,6904 L -10644,6923 L -10603,6928 L -10598,6858 L -10588,6772 z"
              id="Greene" />
        <path class="state"
              d="M 12584,2696 L 12581,3175 L 13550,3170 L 13524,5602 L 12550,5591 L 12550,5637 L 12227,5633 L 12228,5905 L 12223,5955 L 12075,5951 L 12039,5951 L 11849,5947 L 11818,5947 L 11577,5943 L 11563,6271 L 10589,6250 L 10582,6894 L 10515,6894 L 9607,6873 L 9612,6727 L 9607,6722 L 9624,5886 L 9301,5878 L 9337,4690 L 9373,3431 L 9768,3434 L 9780,2648 L 10164,2657 L 10185,2657 L 12046,2689 L 12584,2696 z"
              id="Guernsey" />
        <path class="state"
              d="M -17271,12698 L -16269,12727 L -15741,12736 L -15705,12691 L -15644,12661 L -15372,12706 L -15064,12715 L -14725,12780 L -14561,12749 L -14376,12810 L -14212,12794 L -13966,12834 L -13910,12849 L -13556,12868 L -13253,12933 L -13089,12918 L -12473,12982 L -12504,13043 L -12499,13073 L -12458,13088 L -12432,13103 L -12432,13148 L -12457,13183 L -12468,13199 L -12478,13239 L -12534,13274 L -12549,13299 L -12647,13375 L -12734,13405 L -12764,13436 L -12780,13521 L -12825,13577 L -12887,13597 L -12984,13678 L -12989,13693 L -12989,13708 L -12953,13723 L -12912,13864 L -12768,13853 L -12722,13818 L -12676,13818 L -12619,13908 L -12619,13959 L -12629,13994 L -12665,14019 L -12686,14065 L -12711,14090 L -12716,14110 L -12732,14165 L -12757,14175 L -12819,14236 L -12813,14266 L -12818,14337 L -12844,14397 L -12839,14422 L -12844,14472 L -12878,14875 L -13014,15927 L -13091,15857 L -13166,15805 L -13313,15731 L -13520,15676 L -13548,15671 L -13686,15662 L -13774,15652 L -13924,15567 L -13978,15467 L -13985,15451 L -14000,15385 L -14000,15360 L -13995,15204 L -13996,15134 L -13996,15117 L -14015,15006 L -14044,14940 L -14156,14832 L -14171,14822 L -14230,14804 L -14235,14803 L -14268,14810 L -14299,14817 L -14332,14837 L -14365,14860 L -14448,14959 L -14520,15045 L -14529,15054 L -14545,15066 L -14608,15105 L -14724,15131 L -14734,15129 L -14848,15087 L -14950,15049 L -15023,15082 L -15041,15103 L -15119,15190 L -15175,15216 L -15254,15252 L -15392,15299 L -15430,15313 L -15571,15323 L -15638,15310 L -15761,15236 L -15812,15188 L -15906,15096 L -15950,15072 L -16001,15052 L -16037,15042 L -16099,15027 L -16124,15014 L -16160,14992 L -16186,14972 L -16230,14913 L -16243,14896 L -16325,14775 L -16397,14670 L -16444,14615 L -16490,14564 L -16538,14530 L -16574,14507 L -16618,14484 L -16666,14471 L -16672,14470 L -16718,14481 L -16731,14485 L -16798,14532 L -16864,14626 L -16910,14691 L -16947,14744 L -16987,14778 L -17012,14797 L -17021,14802 L -17180,14872 L -17320,14904 L -17304,13973 L -17298,13579 L -17271,12698 z"
              id="Hamilton" />
        <path class="state"
              d="M -5069,-7791 L -5079,-7463 L -5079,-5851 L -5381,-5850 L -5400,-5371 L -5559,-5371 L -5563,-4887 L -5722,-4887 L -5880,-4892 L -5885,-4614 L -5898,-3924 L -6088,-3929 L -7041,-3952 L -8009,-3959 L -8972,-3977 L -8960,-5096 L -8931,-7837 L -7958,-7834 L -7477,-7830 L -6990,-7816 L -6514,-7807 L -6027,-7793 L -5069,-7791 z"
              id="Hancock" />
        <path class="state"
              d="M -8972,-3977 L -8009,-3959 L -7041,-3952 L -6088,-3929 L -5898,-3924 L -5734,-3920 L -5746,-2635 L -5269,-2636 L -5269,-2470 L -5100,-2466 L -5103,-1982 L -5108,-1660 L -5107,-1499 L -5096,-1156 L -5090,-1010 L -5085,-879 L -5068,-557 L -5104,-446 L -5965,-439 L -5960,-499 L -8969,-769 L -9010,-779 L -9010,-854 L -9006,-1167 L -8997,-1791 L -9002,-1811 L -8998,-2033 L -8980,-3005 L -8972,-3977 z"
              id="Hardin" />
        <path class="state"
              d="M 13127,251 L 13573,269 L 13614,269 L 13614,249 L 13629,244 L 14567,254 L 14562,279 L 14695,284 L 15910,298 L 16361,301 L 16479,300 L 16556,305 L 16561,320 L 16553,788 L 16517,788 L 16512,829 L 16505,1564 L 16505,1599 L 16477,3231 L 15554,3210 L 15503,3206 L 14554,3180 L 14518,3175 L 14523,3145 L 13780,3144 L 13693,3139 L 13596,3139 L 13549,3140 L 13550,3170 L 12581,3175 L 12584,2696 L 12600,1694 L 13103,1697 L 13127,251 z"
              id="Harrison" />
        <path class="state"
              d="M -8904,-11390 L -8918,-10614 L -8931,-9782 L -8931,-7837 L -9751,-7840 L -9904,-7845 L -10877,-7853 L -11845,-7861 L -11827,-8829 L -11809,-9802 L -11801,-10770 L -12748,-10783 L -12744,-11428 L -8904,-11390 z"
              id="Henry" />
        <path class="state"
              d="M -4793,12083 L -4798,12184 L -4829,12249 L -4854,12300 L -4849,12335 L -4818,12405 L -4838,12456 L -4869,12501 L -4889,12582 L -4879,12647 L -4910,12662 L -4920,12687 L -4889,12758 L -4889,12803 L -4899,12843 L -4873,12884 L -4888,12969 L -4867,13014 L -4842,13014 L -4826,13034 L -4883,13115 L -4867,13176 L -4969,13211 L -4985,13251 L -4974,13276 L -4887,13327 L -4851,13352 L -4846,13372 L -4851,13422 L -4861,13462 L -4861,13482 L -4845,13487 L -4809,13497 L -4779,13528 L -4738,13558 L -4707,13573 L -4686,13568 L -4666,13542 L -4645,13497 L -4594,13467 L -4563,13482 L -4558,13512 L -4568,13612 L -4588,13693 L -4563,13688 L -4547,13688 L -4638,14081 L -4926,15656 L -6018,15856 L -6884,16049 L -7417,16025 L -7669,16011 L -8664,16018 L -9131,15999 L -9141,15964 L -9117,15602 L -9089,14681 L -9084,14656 L -9056,13488 L -8784,13508 L -8799,13754 L -8583,13764 L -8532,13678 L -8502,13663 L -8497,13613 L -8441,13552 L -8415,13441 L -8364,13330 L -7336,12543 L -6671,12053 L -4793,12083 z"
              id="Highland" />
        <path class="state"
              d="M 3791,9006 L 3781,9167 L 3752,9650 L 3952,9664 L 4629,9707 L 4768,9712 L 4753,10034 L 5651,10091 L 5607,10806 L 5588,11088 L 4613,11021 L 4550,11851 L 4540,12008 L 3576,11946 L 2601,11884 L 2582,12181 L 2412,12166 L 1571,12114 L 1556,12275 L 587,12203 L 601,12006 L 626,11574 L 630,11473 L 635,11443 L 655,11090 L 679,10768 L 684,10733 L 689,10683 L 694,10617 L 733,10124 L 738,9973 L 1692,10025 L 1711,9527 L 2752,9593 L 2801,8939 L 3447,8982 L 3791,9006 z"
              id="Hocking" />
        <path class="state"
              d="M 9872,-2302 L 9879,-1930 L 9766,-1914 L 9734,171 L 9729,191 L 9396,183 L 7828,164 L 7023,137 L 6695,129 L 6638,129 L 6203,116 L 6198,131 L 6162,131 L 5362,94 L 5404,-1201 L 5050,-1144 L 5036,-2247 L 5840,-2260 L 9872,-2302 z"
              id="Holmes" />
        <path class="state"
              d="M 3975,-9090 L 3981,-8813 L 3994,-8279 L 4012,-7462 L 4023,-7220 L 4036,-6666 L 3196,-6653 L 3196,-6512 L 3201,-6477 L 3229,-5852 L 3029,-5856 L 2773,-5855 L 2471,-5854 L 2061,-5858 L 2046,-5863 L 1734,-5862 L 1667,-5867 L 1493,-5866 L 1406,-5866 L 1385,-5871 L 1324,-5871 L 1272,-5870 L 1247,-5875 L 1237,-5870 L 1155,-5870 L 1068,-5875 L 852,-5879 L 729,-5879 L 171,-5882 L 99,-5887 L -106,-5886 L -123,-6430 L -129,-6707 L -134,-6843 L -146,-7140 L -157,-7463 L -157,-7543 L -169,-7856 L -180,-8304 L -186,-8430 L -191,-8576 L -197,-8758 L -209,-9141 L 626,-9118 L 1461,-9106 L 2301,-9099 L 3135,-9082 L 3975,-9090 z"
              id="Huron" />
        <path class="state"
              d="M 266,14413 L 430,14428 L 455,14171 L 455,14085 L 465,13975 L 1439,14037 L 1429,14157 L 1430,14183 L 2420,14270 L 2390,14677 L 3391,14749 L 3381,14835 L 3376,14931 L 3366,15107 L 3356,15167 L 3352,15248 L 3347,15308 L 3303,15887 L 3293,16048 L 3278,16194 L 3264,16546 L 3234,16868 L 3190,17382 L 3190,17407 L 3175,17603 L 3160,17794 L 3151,17895 L 3141,18006 L 2976,17986 L 2104,17914 L 2094,18009 L 1930,17995 L 1894,17995 L 1771,17985 L 1591,17971 L 1448,17961 L 1263,17947 L 1181,17942 L 1135,17937 L 714,17908 L 647,17904 L 488,17899 L 532,17144 L 552,16913 L 551,16893 L 244,16874 L 85,16859 L 114,16492 L 119,16371 L 129,16270 L 168,15631 L 187,15394 L 222,14997 L 227,14906 L 266,14413 z"
              id="Jackson" />
        <path class="state"
              d="M 16542,-1660 L 16752,-1651 L 16793,-1651 L 17495,-1655 L 17515,-1655 L 17521,-1499 L 18213,-1512 L 18217,-1478 L 18238,-1421 L 18277,-1379 L 18382,-1287 L 18414,-1247 L 18441,-1197 L 18457,-1152 L 18481,-1106 L 18501,-1074 L 18515,-1054 L 18523,-1044 L 18548,-1000 L 18564,-970 L 18569,-947 L 18573,-920 L 18580,-880 L 18596,-830 L 18612,-785 L 18637,-694 L 18680,-621 L 18706,-578 L 18730,-543 L 18771,-493 L 18792,-453 L 18812,-407 L 18818,-367 L 18829,-341 L 18833,-332 L 18834,-273 L 18824,-211 L 18798,-135 L 18768,-65 L 18738,1 L 18712,71 L 18708,91 L 18703,119 L 18700,185 L 18698,211 L 18697,233 L 18708,318 L 18714,374 L 18710,405 L 18708,417 L 18704,434 L 18691,449 L 18678,463 L 18643,494 L 18603,526 L 18578,552 L 18573,562 L 18569,572 L 18569,585 L 18571,596 L 18587,621 L 18618,641 L 18659,670 L 18685,684 L 18689,687 L 18722,708 L 18725,712 L 18746,731 L 18765,773 L 18771,803 L 18772,812 L 18777,848 L 18773,877 L 18759,924 L 18745,980 L 18738,1038 L 18743,1078 L 18753,1120 L 18774,1154 L 18794,1194 L 18810,1224 L 18825,1265 L 18836,1285 L 18840,1317 L 18846,1370 L 18837,1426 L 18821,1491 L 18811,1514 L 18799,1537 L 18772,1590 L 18766,1602 L 18731,1670 L 18712,1716 L 18705,1742 L 18700,1764 L 18707,1797 L 18710,1812 L 18716,1859 L 18716,1910 L 18706,1962 L 18688,1990 L 18680,2001 L 18640,2040 L 18600,2068 L 18555,2104 L 18495,2131 L 18435,2183 L 18410,2224 L 18385,2269 L 18381,2276 L 18372,2307 L 18358,2357 L 18349,2392 L 18340,2428 L 18321,2494 L 18315,2540 L 18314,2555 L 18309,2616 L 18301,2656 L 18287,2712 L 18273,2758 L 18244,2799 L 18215,2841 L 18185,2892 L 18156,2933 L 18112,3000 L 18065,3092 L 18019,3177 L 18009,3223 L 17471,3205 L 17466,3261 L 16543,3231 L 16477,3231 L 16505,1599 L 16505,1564 L 16512,829 L 16517,788 L 16553,788 L 16561,320 L 16556,305 L 16479,300 L 16361,301 L 15910,298 L 15910,263 L 15913,-191 L 15939,-186 L 15944,-191 L 16046,-186 L 16051,-363 L 16050,-378 L 16057,-1169 L 16544,-1166 L 16542,-1660 z"
              id="Jefferson" />
        <path class="state"
              d="M 4067,-994 L 5050,-1144 L 5404,-1201 L 5362,94 L 5362,129 L 5357,174 L 5353,280 L 5348,441 L 5344,592 L 5339,753 L 5335,955 L 5330,1101 L 5321,1312 L 5321,1328 L 5279,2506 L 4556,2504 L 4557,2514 L 4070,2506 L 3024,2454 L 2890,2450 L 2895,2238 L 1398,2153 L 562,2105 L 572,1944 L 611,1299 L 898,1319 L 1031,1328 L 1077,1328 L 1446,1352 L 1557,-612 L 1547,-628 L 1470,-617 L 1469,-929 L 1638,-930 L 2279,-932 L 2602,-933 L 3744,-943 L 4067,-994 z"
              id="Knox" />
        <path class="state"
              d="M 15066,-15553 L 15095,-14020 L 14271,-13995 L 14290,-13184 L 12678,-13150 L 12686,-12364 L 11893,-12350 L 11084,-12336 L 11066,-13022 L 11122,-13072 L 11178,-13138 L 11264,-13259 L 11330,-13351 L 11402,-13442 L 11453,-13502 L 11498,-13543 L 11560,-13604 L 11621,-13654 L 11662,-13695 L 11707,-13736 L 11733,-13761 L 11784,-13807 L 11820,-13847 L 11865,-13883 L 11911,-13928 L 11983,-13989 L 12039,-14025 L 12074,-14050 L 12100,-14065 L 12146,-14081 L 12258,-14147 L 12304,-14172 L 12345,-14208 L 12417,-14253 L 12539,-14340 L 12631,-14396 L 12687,-14441 L 12738,-14477 L 12774,-14487 L 12805,-14472 L 12851,-14452 L 12892,-14452 L 12938,-14458 L 13065,-14504 L 13132,-14529 L 13198,-14560 L 13259,-14595 L 13356,-14651 L 13423,-14697 L 13509,-14753 L 13550,-14758 L 13617,-14809 L 13709,-14860 L 13785,-14911 L 13953,-15012 L 14086,-15089 L 14178,-15125 L 14250,-15160 L 14316,-15191 L 14388,-15226 L 14484,-15277 L 14607,-15328 L 14750,-15405 L 14913,-15461 L 14980,-15487 L 15066,-15553 z"
              id="Lake" />
        <path class="state"
              d="M 1448,17961 L 1591,17971 L 1771,17985 L 1894,17995 L 1930,17995 L 2094,18009 L 2084,18090 L 2079,18170 L 2050,18533 L 2035,18729 L 2892,18807 L 2868,19134 L 3042,19153 L 3003,19646 L 2998,19807 L 3896,19865 L 4025,19874 L 4020,19945 L 4005,20131 L 4000,20237 L 3967,20876 L 4634,20893 L 4606,20927 L 4593,20953 L 4588,20969 L 4574,21011 L 4569,21059 L 4568,21082 L 4568,21175 L 4573,21251 L 4568,21281 L 4563,21331 L 4559,21362 L 4539,21437 L 4520,21488 L 4502,21537 L 4493,21590 L 4485,21660 L 4481,21716 L 4473,21782 L 4465,21867 L 4457,21920 L 4443,21991 L 4424,22034 L 4407,22066 L 4397,22112 L 4387,22152 L 4378,22212 L 4373,22240 L 4367,22263 L 4353,22317 L 4351,22323 L 4321,22369 L 4290,22399 L 4246,22432 L 4208,22449 L 4181,22465 L 4165,22470 L 4109,22482 L 4063,22493 L 3997,22510 L 3937,22526 L 3922,22529 L 3890,22534 L 3834,22540 L 3793,22547 L 3767,22547 L 3716,22532 L 3690,22527 L 3654,22517 L 3634,22512 L 3604,22508 L 3591,22507 L 3552,22517 L 3526,22524 L 3515,22530 L 3489,22541 L 3465,22551 L 3424,22567 L 3347,22604 L 3308,22615 L 3193,22649 L 3068,22684 L 3003,22700 L 2952,22716 L 2906,22731 L 2844,22751 L 2804,22772 L 2753,22799 L 2743,22804 L 2703,22825 L 2616,22855 L 2609,22857 L 2505,22891 L 2425,22904 L 2332,22914 L 2260,22914 L 2247,22911 L 2188,22899 L 2106,22865 L 2079,22851 L 2057,22839 L 2020,22810 L 1978,22771 L 1956,22736 L 1947,22709 L 1900,22584 L 1869,22382 L 1852,22275 L 1791,22146 L 1744,22107 L 1688,22076 L 1605,22036 L 1518,21991 L 1437,21932 L 1384,21861 L 1373,21846 L 1318,21773 L 1238,21685 L 1159,21523 L 1146,21496 L 1073,21386 L 1054,21364 L 987,21319 L 915,21274 L 854,21223 L 842,21215 L 806,21190 L 668,21176 L 616,21177 L 438,21180 L 315,21180 L 238,21160 L 208,21149 L 18,21047 L 396,20878 L 667,20756 L 507,20390 L 440,20234 L 459,19836 L 793,19860 L 952,19870 L 1002,19719 L 1057,19065 L 1339,19084 L 1354,18923 L 1374,18918 L 1389,18696 L 1408,18450 L 1448,17961 z"
              id="Lawrence" />
        <path class="state"
              d="M 5279,2506 L 5392,2511 L 5359,3311 L 5327,4308 L 5327,4344 L 5290,5436 L 5295,5466 L 5291,5527 L 5281,5658 L 5281,5718 L 5158,5708 L 4999,5709 L 4999,5744 L 4985,6046 L 4980,6087 L 4980,6127 L 4406,6099 L 4365,6099 L 4103,6085 L 4001,6075 L 3939,6071 L 3780,6061 L 3652,6051 L 3488,6042 L 3406,6037 L 3411,5977 L 3026,5953 L 2934,6014 L 2637,5990 L 2334,5976 L 1432,5923 L 1155,5904 L 657,5876 L 570,5871 L 288,5852 L 318,5469 L 317,5444 L 374,5444 L 466,3787 L 533,2659 L 562,2105 L 1398,2153 L 2895,2238 L 2890,2450 L 3024,2454 L 4070,2506 L 4557,2514 L 4556,2504 L 5279,2506 z"
              id="Licking" />
        <path class="state"
              d="M -5965,-439 L -6253,2609 L -8242,2417 L -8237,2382 L -8227,2251 L -8966,2187 L -9002,2182 L -9678,2123 L -9842,2109 L -9919,2104 L -10186,2074 L -10136,1596 L -10095,1631 L -10087,780 L -10061,775 L -10054,-248 L -9977,-243 L -9973,-827 L -9527,-823 L -9281,-818 L -9010,-854 L -9010,-779 L -8969,-769 L -5960,-499 L -5965,-439 z"
              id="Logan" />
        <path class="state"
              d="M 3913,-10697 L 3923,-10697 L 3969,-10708 L 4041,-10718 L 4159,-10724 L 4358,-10724 L 4435,-10735 L 4496,-10730 L 4548,-10735 L 4624,-10735 L 4767,-10812 L 4824,-10837 L 4885,-10888 L 4972,-10938 L 5038,-10989 L 5115,-11050 L 5207,-11106 L 5258,-11141 L 5283,-11177 L 5293,-11187 L 5329,-11187 L 5365,-11192 L 5375,-11207 L 5396,-11212 L 5421,-11222 L 5447,-11233 L 5508,-11258 L 5575,-11289 L 5672,-11339 L 5805,-11395 L 5948,-11436 L 6163,-11493 L 6285,-11533 L 6418,-11589 L 6510,-11610 L 6602,-11651 L 6715,-11681 L 6787,-11672 L 6863,-11652 L 6966,-11612 L 7079,-11567 L 7084,-11562 L 7075,-11270 L 7075,-9858 L 7864,-9856 L 7868,-9015 L 7074,-9006 L 7072,-8175 L 6242,-8171 L 6235,-7461 L 5431,-7463 L 5431,-7332 L 5424,-6651 L 4112,-6667 L 4036,-6666 L 4023,-7220 L 4012,-7462 L 3994,-8279 L 3981,-8813 L 3975,-9090 L 3947,-9901 L 3913,-10697 z"
              id="Lorain" />
        <path class="state"
              d="M -5275,-14091 L -5292,-14011 L -5328,-13980 L -5359,-13975 L -5415,-13945 L -5440,-13879 L -5230,-13754 L -5215,-13744 L -5199,-13723 L -5194,-13708 L -5184,-13698 L -5133,-13653 L -5102,-13633 L -5045,-13623 L -4969,-13623 L -4907,-13633 L -4856,-13639 L -4800,-13634 L -4733,-13619 L -4646,-13589 L -4554,-13579 L -4493,-13584 L -4447,-13599 L -4416,-13615 L -4350,-13665 L -4324,-13711 L -4319,-13746 L -4319,-13786 L -4314,-13796 L -4299,-13791 L -4278,-13786 L -4258,-13771 L -4237,-13756 L -4206,-13731 L -4176,-13701 L -4037,-13590 L -4037,-13575 L -4052,-13560 L -4098,-13555 L -4160,-13580 L -4180,-13570 L -4196,-13550 L -4201,-13535 L -4201,-13519 L -4165,-13499 L -4124,-13489 L -4103,-13505 L -4088,-13515 L -4042,-13515 L -3945,-13495 L -3919,-13480 L -3893,-13455 L -3857,-13435 L -3827,-13404 L -3822,-13405 L -3791,-13384 L -3745,-13359 L -3698,-13329 L -3616,-13269 L -3591,-13254 L -3524,-13209 L -3473,-13163 L -3421,-13118 L -3421,-13098 L -3447,-13058 L -3447,-13022 L -3401,-13007 L -3349,-13002 L -3314,-13013 L -3293,-13033 L -3268,-13018 L -3221,-12998 L -3211,-12993 L -3170,-12973 L -3150,-12963 L -3144,-12958 L -3093,-12928 L -3027,-12903 L -2940,-12888 L -2883,-12872 L -2893,-12853 L -3149,-12852 L -3456,-12851 L -3528,-12851 L -3641,-12850 L -3968,-12839 L -4183,-12839 L -4941,-12822 L -4997,-12822 L -6277,-12803 L -6455,-12581 L -6476,-12495 L -6562,-12439 L -6608,-12338 L -6705,-12288 L -6895,-12197 L -7038,-12060 L -7160,-11999 L -7268,-11954 L -7365,-11888 L -7436,-11737 L -7451,-11631 L -7471,-11505 L -7522,-11424 L -7691,-11328 L -7839,-11186 L -8023,-11105 L -8094,-10974 L -8191,-10878 L -8350,-10822 L -8437,-10756 L -8580,-10706 L -8790,-10604 L -8918,-10614 L -8904,-11390 L -8905,-11542 L -8877,-12837 L -8841,-12832 L -8842,-13125 L -8895,-13967 L -8428,-13979 L -8041,-13989 L -8015,-13990 L -7902,-13994 L -5552,-14082 L -5548,-14060 L -5548,-14050 L -5553,-14035 L -5548,-14015 L -5497,-14015 L -5466,-14030 L -5425,-14056 L -5361,-14091 L -5275,-14091 z"
              id="Lucas" />
        <path class="state"
              d="M -5859,3927 L -4757,3939 L -3947,3952 L -3322,3980 L -3376,4645 L -3797,4621 L -3807,4707 L -3791,4797 L -3750,4928 L -3755,4968 L -3790,5029 L -3826,5064 L -3836,5094 L -3790,5195 L -3759,5250 L -3728,5381 L -3727,5507 L -3701,5673 L -3670,5713 L -3639,5763 L -3603,5808 L -3598,5899 L -3608,5944 L -3592,5985 L -3577,6000 L -3725,6096 L -3655,7248 L -3714,8170 L -3738,8557 L -5200,8461 L -6933,8319 L -7174,8295 L -7115,7670 L -6607,7719 L -6490,7236 L -6425,6964 L -6318,6571 L -6267,6380 L -6207,6133 L -5917,5110 L -5907,5045 L -5959,5035 L -5859,3927 z"
              id="Madison" />
        <path class="state"
              d="M 19300,-7655 L 19302,-7584 L 19347,-5941 L 19365,-5227 L 19369,-5060 L 16803,-5011 L 16807,-5142 L 16802,-5198 L 16801,-5334 L 16176,-5325 L 16172,-5129 L 16172,-5003 L 14574,-4969 L 14560,-5821 L 14560,-5932 L 14693,-5932 L 15179,-5945 L 15266,-5945 L 15266,-6102 L 15265,-6157 L 15259,-6369 L 15259,-6409 L 15253,-6585 L 15233,-7568 L 17020,-7607 L 18142,-7629 L 19300,-7655 z"
              id="Mahoning" />
        <path class="state"
              d="M -2487,-2629 L -2318,-2625 L -2128,-2630 L -1247,-2633 L -1155,-2633 L -786,-2644 L -351,-2646 L -354,-2208 L -354,-2198 L -359,-2132 L -364,-1996 L -502,-1996 L -543,-1995 L -764,-1990 L -1194,-1983 L -1199,-266 L -1209,-266 L -1245,-261 L -1695,-199 L -1735,365 L -2519,322 L -3662,245 L -3659,-455 L -5104,-446 L -5068,-557 L -5085,-879 L -5090,-1010 L -5096,-1156 L -5107,-1499 L -5108,-1660 L -5103,-1982 L -5100,-2466 L -4772,-2466 L -4198,-2463 L -4126,-2458 L -4127,-2624 L -4070,-2625 L -3635,-2631 L -3461,-2626 L -3179,-2622 L -2974,-2623 L -2897,-2623 L -2487,-2629 z"
              id="Marion" />
        <path class="state"
              d="M 9485,-9062 L 9494,-5857 L 9427,-5852 L 8854,-5844 L 8679,-5844 L 8526,-5838 L 6216,-5854 L 5785,-5857 L 5411,-5855 L 5419,-6425 L 5424,-6651 L 5431,-7332 L 5431,-7463 L 6235,-7461 L 6242,-8171 L 7072,-8175 L 7074,-9006 L 7868,-9015 L 8646,-9043 L 9485,-9062 z"
              id="Medina" />
        <path class="state"
              d="M 4732,14010 L 5394,14047 L 6374,14109 L 7425,14155 L 8426,14191 L 9200,14223 L 9200,14236 L 9197,14281 L 9197,14296 L 9200,14319 L 9215,14371 L 9247,14449 L 9278,14535 L 9298,14611 L 9304,14686 L 9307,14713 L 9308,14731 L 9310,14792 L 9312,14862 L 9313,14883 L 9313,14912 L 9316,14967 L 9316,15003 L 9311,15043 L 9307,15067 L 9299,15104 L 9275,15164 L 9252,15207 L 9246,15217 L 9209,15260 L 9183,15282 L 9166,15294 L 9112,15325 L 9051,15346 L 8933,15352 L 8876,15337 L 8853,15328 L 8835,15322 L 8799,15307 L 8771,15302 L 8745,15302 L 8725,15313 L 8709,15343 L 8706,15348 L 8702,15383 L 8702,15428 L 8714,15464 L 8723,15486 L 8731,15509 L 8753,15570 L 8759,15589 L 8795,15664 L 8842,15719 L 8898,15764 L 8955,15814 L 8983,15839 L 9001,15855 L 9046,15903 L 9093,15960 L 9120,15999 L 9133,16045 L 9145,16105 L 9146,16144 L 9146,16156 L 9141,16206 L 9139,16229 L 9134,16257 L 9115,16303 L 9086,16349 L 9070,16388 L 9050,16427 L 9044,16438 L 9018,16487 L 8999,16548 L 8994,16634 L 9004,16683 L 9019,16724 L 9058,16782 L 9095,16822 L 9116,16851 L 9144,16890 L 9164,16915 L 9175,16951 L 9176,16964 L 9177,16995 L 9173,17013 L 9165,17031 L 9139,17062 L 9129,17069 L 9113,17078 L 9098,17086 L 9093,17087 L 9052,17087 L 9031,17084 L 9021,17081 L 8979,17067 L 8952,17055 L 8939,17047 L 8898,17017 L 8857,16982 L 8831,16965 L 8821,16957 L 8779,16902 L 8750,16873 L 8723,16858 L 8716,16854 L 8692,16843 L 8644,16835 L 8619,16836 L 8610,16836 L 8572,16858 L 8538,16888 L 8508,16928 L 8496,16946 L 8479,16976 L 8459,17022 L 8453,17053 L 8452,17069 L 8447,17113 L 8447,17160 L 8442,17215 L 8432,17276 L 8417,17316 L 8383,17372 L 8369,17393 L 8350,17417 L 8313,17454 L 8309,17457 L 8269,17496 L 8253,17511 L 8224,17537 L 8191,17562 L 8174,17574 L 8123,17618 L 8119,17621 L 8068,17643 L 8038,17640 L 7987,17635 L 7905,17599 L 7850,17564 L 7829,17549 L 7760,17491 L 7749,17475 L 7728,17447 L 7712,17417 L 7709,17399 L 7709,17384 L 7716,17357 L 7735,17321 L 7749,17290 L 7760,17279 L 7789,17248 L 7824,17212 L 7867,17162 L 7903,17117 L 7934,17072 L 7949,17036 L 7954,17001 L 7944,16967 L 7927,16921 L 7895,16853 L 7840,16759 L 7835,16741 L 7819,16690 L 7809,16659 L 7799,16629 L 7773,16584 L 7742,16534 L 7716,16484 L 7705,16464 L 7692,16436 L 7670,16386 L 7644,16348 L 7623,16323 L 7585,16304 L 7561,16296 L 7549,16293 L 7519,16295 L 7507,16295 L 7487,16300 L 7463,16312 L 7435,16320 L 7427,16323 L 7391,16334 L 7345,16335 L 7318,16333 L 7305,16329 L 7285,16319 L 7267,16308 L 7243,16279 L 7234,16266 L 7208,16214 L 7192,16149 L 7168,16074 L 7140,16028 L 7094,15991 L 7047,15962 L 6989,15939 L 6981,15938 L 6897,15931 L 6851,15936 L 6832,15938 L 6823,15942 L 6795,15959 L 6760,15979 L 6729,16025 L 6709,16070 L 6699,16126 L 6699,16181 L 6695,16229 L 6676,16275 L 6667,16290 L 6648,16312 L 6610,16355 L 6546,16402 L 6542,16405 L 6496,16426 L 6447,16452 L 6395,16485 L 6356,16509 L 6345,16517 L 6327,16538 L 6306,16565 L 6286,16604 L 6270,16650 L 6262,16670 L 6258,16685 L 6244,16723 L 6239,16736 L 6220,16782 L 6214,16792 L 6224,16666 L 6224,16625 L 6238,16384 L 6248,16233 L 6222,16228 L 5263,16176 L 5191,16172 L 4391,16134 L 4273,16130 L 4268,16110 L 4277,15959 L 4341,14977 L 4404,13991 L 4732,14010 z"
              id="Meigs" />
        <path class="state"
              d="M -13856,-2552 L -13865,-2064 L -13878,-1092 L -13897,-120 L -13915,853 L -13919,1074 L -13740,1119 L -14258,1110 L -15149,1106 L -15149,1121 L -16082,1098 L -16733,1078 L -16897,1068 L -16824,-1362 L -16782,-2780 L -16781,-2837 L -16773,-3092 L -15820,-3068 L -14826,-3050 L -13852,-3031 L -13856,-2552 z"
              id="Mercer" />
        <path class="state"
              d="M -13756,2866 L -12987,2880 L -11937,2868 L -11936,2919 L -10275,3071 L -10394,4491 L -10394,4517 L -10404,4668 L -10474,5473 L -10558,6440 L -11538,6361 L -11528,6261 L -11508,5954 L -12303,5950 L -12687,5946 L -13272,5947 L -13759,5953 L -13756,2866 z"
              id="Miami" />
        <path class="state"
              d="M 13513,6533 L 14364,6539 L 14456,6544 L 14456,6559 L 15400,6584 L 15400,6600 L 15636,6613 L 17086,6656 L 17063,6675 L 17042,6695 L 17035,6719 L 17031,6737 L 17030,6786 L 17041,6833 L 17052,6883 L 17056,6904 L 17062,6933 L 17073,6996 L 17078,7027 L 17073,7079 L 17071,7108 L 17068,7135 L 17054,7185 L 17028,7239 L 16989,7286 L 16971,7303 L 16941,7327 L 16869,7388 L 16804,7437 L 16764,7479 L 16736,7509 L 16731,7514 L 16706,7565 L 16697,7602 L 16703,7663 L 16721,7702 L 16743,7751 L 16783,7794 L 16820,7831 L 16851,7865 L 16856,7871 L 16882,7900 L 16907,7933 L 16923,7955 L 16939,7978 L 16970,8021 L 17004,8076 L 17013,8093 L 17025,8116 L 17041,8144 L 17047,8182 L 17037,8232 L 17012,8268 L 16988,8295 L 16981,8303 L 16941,8324 L 16889,8347 L 16853,8359 L 16823,8374 L 16797,8395 L 16771,8420 L 16759,8452 L 16754,8472 L 16751,8491 L 16747,8533 L 16742,8578 L 16747,8632 L 16752,8682 L 16756,8730 L 16757,8739 L 16752,8793 L 16747,8853 L 16742,8893 L 16723,8994 L 16702,9075 L 16692,9101 L 16668,9149 L 16643,9190 L 16598,9237 L 16548,9264 L 16507,9270 L 16461,9268 L 16425,9263 L 16384,9259 L 16327,9261 L 16287,9262 L 16272,9262 L 16237,9273 L 16191,9295 L 16150,9329 L 16114,9355 L 16095,9369 L 16065,9400 L 16050,9415 L 15998,9465 L 15930,9522 L 15890,9558 L 15818,9623 L 15764,9672 L 15731,9704 L 15644,9795 L 15532,9906 L 15501,9939 L 15447,9998 L 15407,10049 L 15323,10123 L 15302,10139 L 15316,9781 L 13531,9740 L 13485,9740 L 13490,9765 L 13326,9766 L 13330,9439 L 13171,9439 L 13175,9107 L 13174,8941 L 13177,8322 L 12843,8329 L 12846,7830 L 12845,7528 L 12850,7357 L 12862,6647 L 12867,6617 L 12867,6516 L 13513,6533 z"
              id="Monroe" />
        <path class="state"
              d="M -14266,5954 L -13759,5953 L -13272,5947 L -12687,5946 L -12303,5950 L -11508,5954 L -11528,6261 L -11538,6361 L -10558,6440 L -10588,6772 L -10598,6858 L -10603,6928 L -10644,6923 L -10921,6904 L -10966,7392 L -10986,7629 L -10991,7704 L -11050,8389 L -11120,9230 L -11120,9250 L -11099,9255 L -11144,9789 L -12677,9636 L -13308,9622 L -13385,9622 L -14277,9603 L -14279,8853 L -14271,7882 L -14269,6930 L -14266,5954 z"
              id="Montgomery" />
        <path class="state"
              d="M 6345,7702 L 7775,7757 L 8580,7794 L 9591,7835 L 9591,7845 L 10088,7863 L 10071,8814 L 10071,8829 L 10415,8838 L 10559,8842 L 10555,9275 L 10552,9698 L 9685,9667 L 9634,9712 L 9516,9718 L 9465,9743 L 9450,9798 L 9455,9899 L 9455,9964 L 9400,10116 L 9400,10166 L 9411,10327 L 9554,10331 L 9551,10875 L 9095,10857 L 9095,10812 L 9033,10807 L 8884,10802 L 8889,10767 L 8566,10753 L 8532,11252 L 8368,11242 L 7568,11200 L 6737,11169 L 6537,11164 L 6542,11139 L 6586,10500 L 6586,10485 L 6596,10409 L 6596,10389 L 6595,10324 L 6610,10142 L 6677,10147 L 6730,9316 L 6740,9176 L 6754,8853 L 6793,8209 L 6316,8181 L 6345,7702 z"
              id="Morgan" />
        <path class="state"
              d="M -351,-2646 L -351,-2726 L 566,-2719 L 756,-2715 L 1601,-2698 L 1602,-2451 L 1613,-2219 L 1454,-2219 L 1454,-2183 L 1455,-2148 L 1455,-1896 L 1625,-1897 L 1620,-1756 L 1632,-1333 L 1632,-1116 L 1638,-930 L 1469,-929 L 1470,-617 L 1547,-628 L 1557,-612 L 1446,1352 L 1077,1328 L 1031,1328 L 898,1319 L 611,1299 L 570,1299 L -963,1209 L -948,1017 L -919,579 L -1744,531 L -1735,365 L -1695,-199 L -1245,-261 L -1209,-266 L -1199,-266 L -1194,-1983 L -764,-1990 L -543,-1995 L -502,-1996 L -364,-1996 L -359,-2132 L -354,-2198 L -354,-2208 L -351,-2646 z"
              id="Morrow" />
        <path class="state"
              d="M 5359,3311 L 6164,3348 L 6954,3370 L 7769,3387 L 8471,3404 L 8579,3409 L 8697,3413 L 8748,3418 L 8799,3418 L 9373,3431 L 9337,4690 L 9301,5878 L 9624,5886 L 9607,6722 L 9612,6727 L 9607,6873 L 9591,7835 L 8580,7794 L 7775,7757 L 6345,7702 L 6359,7320 L 6368,7199 L 5861,7171 L 5532,7157 L 5596,6215 L 5601,6170 L 5554,6165 L 4980,6127 L 4980,6087 L 4985,6046 L 4999,5744 L 4999,5709 L 5158,5708 L 5281,5718 L 5281,5658 L 5291,5527 L 5295,5466 L 5290,5436 L 5327,4344 L 5327,4308 L 5359,3311 z"
              id="Muskingum" />
        <path class="state"
              d="M 13513,6533 L 12867,6516 L 12867,6617 L 12862,6647 L 12850,7357 L 12845,7528 L 12846,7830 L 12843,8329 L 13177,8322 L 13174,8941 L 13175,9107 L 13171,9439 L 13172,9600 L 12541,9593 L 12541,9513 L 12207,9509 L 12207,9353 L 12048,9354 L 12047,9188 L 11714,9184 L 11713,9033 L 11534,9029 L 11536,9724 L 11111,9711 L 10552,9698 L 10555,9275 L 10559,8842 L 10415,8838 L 10071,8829 L 10071,8814 L 10088,7863 L 9591,7845 L 9591,7835 L 9607,6873 L 10515,6894 L 10582,6894 L 10589,6250 L 11563,6271 L 11577,5943 L 11818,5947 L 11849,5947 L 12039,5951 L 12075,5951 L 12223,5955 L 12228,5905 L 12227,5633 L 12550,5637 L 12550,5591 L 13524,5602 L 13524,5627 L 13519,5692 L 13516,5995 L 13516,6045 L 13513,6533 z"
              id="Noble" />
        <g class="state" id="Ottawa">
            <path d="M -5,-13870 L -45,-13860 L -86,-13850 L -97,-13849 L -117,-13860 L -112,-13920 L -71,-13971 L -72,-14011 L -15,-14021 L 46,-14001 L 72,-13961 L 83,-13865 L 83,-13840 L 47,-13810 L 26,-13825 L 11,-13855 L -5,-13870 z" />
            <path d="M 201,-13694 L 247,-13709 L 278,-13725 L 303,-13720 L 334,-13695 L 314,-13654 L 247,-13614 L 181,-13598 L 124,-13588 L 89,-13543 L 94,-13482 L 89,-13472 L 74,-13416 L 43,-13406 L 38,-13452 L 28,-13467 L 17,-13477 L -19,-13482 L -65,-13517 L -34,-13562 L 7,-13623 L 139,-13684 L 201,-13694 z" />
            <path d="M 79,-13311 L 115,-13331 L 171,-13336 L 192,-13336 L 217,-13341 L 207,-13276 L 177,-13230 L 146,-13185 L 90,-13124 L 75,-13109 L 60,-13089 L -2,-13083 L -58,-13013 L -160,-12916 L -206,-12942 L -196,-13022 L -181,-13058 L -196,-13088 L -202,-13174 L -192,-13204 L -151,-13224 L -115,-13280 L -105,-13325 L -69,-13275 L -64,-13229 L -33,-13224 L -13,-13225 L 44,-13245 L 64,-13270 L 79,-13311 z" />
            <path d="M -4997,-12822 L -4941,-12822 L -4183,-12839 L -3968,-12839 L -3641,-12850 L -3528,-12851 L -3456,-12851 L -3149,-12852 L -2893,-12853 L -2883,-12872 L -2858,-12863 L -2770,-12833 L -2601,-12813 L -2560,-12808 L -2484,-12798 L -2386,-12763 L -2304,-12718 L -2202,-12663 L -2145,-12628 L -2094,-12568 L -2058,-12527 L -2042,-12487 L -2022,-12452 L -2011,-12422 L -1970,-12381 L -1903,-12271 L -1847,-12200 L -1785,-12140 L -1657,-12029 L -1590,-11984 L -1534,-11939 L -1518,-11929 L -1482,-11904 L -1447,-11884 L -1416,-11869 L -1400,-11864 L -1390,-11859 L -1359,-11839 L -1303,-11804 L -1277,-11789 L -1272,-11784 L -1236,-11764 L -1190,-11754 L -1124,-11734 L -1067,-11719 L -1031,-11699 L -985,-11674 L -873,-11664 L -801,-11669 L -750,-11684 L -694,-11705 L -663,-11700 L -612,-11730 L -566,-11756 L -499,-11796 L -458,-11837 L -433,-11882 L -392,-11923 L -367,-11938 L -362,-11963 L -341,-11998 L -326,-12019 L -316,-12049 L -311,-12099 L -285,-12135 L -285,-12150 L -291,-12170 L -311,-12195 L -316,-12210 L -306,-12266 L -301,-12291 L -337,-12306 L -332,-12361 L -312,-12402 L -276,-12437 L -251,-12452 L -210,-12468 L -164,-12463 L -118,-12478 L -112,-12443 L -87,-12408 L -61,-12357 L -45,-12332 L -25,-12292 L 6,-12257 L -9,-12236 L -60,-12226 L -116,-12125 L -147,-12065 L -167,-12034 L -198,-11958 L -244,-11913 L -279,-11888 L -315,-11837 L -382,-11812 L -438,-11796 L -484,-11766 L -499,-11746 L -499,-11726 L -484,-11716 L -468,-11716 L -376,-11756 L -330,-11782 L -274,-11792 L -238,-11822 L -218,-11837 L -177,-11858 L -151,-11888 L -116,-11908 L -85,-11949 L -75,-11999 L -80,-12014 L -65,-12055 L -45,-12090 L -29,-12110 L 1,-12151 L 17,-12181 L 68,-12201 L 109,-12161 L 119,-12126 L 155,-12091 L 160,-12071 L 176,-12040 L 212,-11995 L 191,-11965 L 110,-11939 L 53,-11944 L 12,-11919 L -3,-11909 L -13,-11888 L -13,-11863 L -3,-11833 L 23,-11833 L 89,-11838 L 156,-11859 L 253,-11884 L 294,-11930 L 371,-11935 L 427,-11945 L 458,-11961 L 529,-11986 L 596,-11981 L 657,-11966 L 739,-11956 L 785,-11962 L 821,-11957 L 847,-11947 L 867,-11937 L 883,-11922 L 898,-11897 L 903,-11876 L 898,-11851 L 898,-11776 L 883,-11745 L 848,-11700 L 827,-11675 L 837,-11649 L 853,-11614 L 874,-11579 L 889,-11544 L 915,-11458 L 895,-11413 L 859,-11443 L 833,-11483 L 823,-11513 L 822,-11559 L 797,-11589 L 740,-11594 L 699,-11598 L 658,-11593 L 618,-11588 L 577,-11598 L 536,-11593 L 485,-11542 L 454,-11517 L 398,-11497 L 331,-11537 L 275,-11537 L 223,-11546 L 177,-11531 L 85,-11521 L 44,-11511 L 19,-11495 L -12,-11460 L -37,-11379 L -68,-11364 L -134,-11419 L -211,-11490 L -258,-11479 L -293,-11469 L -329,-11454 L -344,-11424 L -395,-11408 L -462,-11373 L -534,-11357 L -610,-11347 L -687,-11347 L -769,-11352 L -825,-11346 L -897,-11356 L -948,-11341 L -999,-11331 L -1046,-11336 L -1117,-11351 L -1189,-11365 L -1225,-11335 L -1235,-11310 L -1260,-11264 L -1255,-11229 L -1296,-11179 L -1321,-11103 L -1337,-11108 L -1378,-11133 L -1413,-11123 L -1439,-11108 L -1459,-11092 L -1470,-11067 L -1475,-11047 L -1516,-11042 L -1557,-11067 L -1593,-11097 L -1623,-11082 L -1644,-11062 L -1690,-11041 L -1731,-11036 L -1736,-11066 L -1792,-11056 L -1884,-11031 L -1961,-11020 L -2022,-11020 L -2063,-11000 L -2539,-11003 L -2744,-11008 L -2785,-11008 L -2985,-11012 L -3246,-11016 L -4357,-11018 L -4357,-11180 L -4364,-11492 L -4358,-11502 L -4993,-11496 L -4994,-11657 L -4997,-12625 L -4997,-12822 z" />
        </g>
        <path class="state"
              d="M -16661,-8917 L -15693,-8893 L -14715,-8880 L -13752,-8866 L -13756,-8382 L -12789,-8359 L -12798,-7870 L -12816,-6897 L -12834,-5930 L -13316,-5934 L -13807,-5938 L -14776,-5957 L -15749,-5970 L -16716,-5989 L -16711,-6259 L -16661,-8917 z"
              id="Paulding" />
        <path class="state"
              d="M 3026,5953 L 3411,5977 L 3406,6037 L 3488,6042 L 3652,6051 L 3780,6061 L 3939,6071 L 4001,6075 L 4103,6085 L 4365,6099 L 4406,6099 L 4980,6127 L 5554,6165 L 5601,6170 L 5596,6215 L 5532,7157 L 5861,7171 L 6368,7199 L 6359,7320 L 6345,7702 L 6316,8181 L 6793,8209 L 6754,8853 L 6740,9176 L 6730,9316 L 6677,10147 L 6610,10142 L 5707,10091 L 5651,10091 L 4753,10034 L 4768,9712 L 4629,9707 L 3952,9664 L 3752,9650 L 3781,9167 L 3791,9006 L 3864,8034 L 3715,8019 L 3541,8010 L 3555,7748 L 3599,7028 L 2943,6985 L 2962,6754 L 2992,6346 L 3001,6215 L 3006,6149 L 3016,6034 L 3021,6024 L 3026,5953 z"
              id="Perry" />
        <path class="state"
              d="M -3655,7248 L -3158,7297 L -1896,7339 L -65,7464 L -178,9075 L -152,9075 L -206,9820 L -226,10051 L -72,10061 L 733,10124 L 694,10617 L 689,10683 L 684,10733 L 679,10768 L 655,11090 L -63,11042 L -99,11042 L -274,11033 L -320,11028 L -581,11014 L -638,11004 L -658,11009 L -792,10999 L -864,10995 L -1330,10966 L -1561,10957 L -1551,10906 L -1531,10861 L -1515,10851 L -1495,10836 L -1479,10831 L -1454,10835 L -1403,10835 L -1387,10805 L -1388,10725 L -1424,10659 L -1449,10649 L -1501,10659 L -2419,10627 L -3875,10546 L -3738,8557 L -3714,8170 L -3655,7248 z"
              id="Pickaway" />
        <path class="state"
              d="M -4638,14081 L -4151,14099 L -1540,14288 L -1519,14288 L -1350,14302 L -1022,14321 L -904,14331 L -201,14379 L 97,14398 L 266,14413 L 227,14906 L 222,14997 L 187,15394 L 168,15631 L 129,16270 L 119,16371 L 114,16492 L 85,16859 L -721,16811 L -1665,16764 L -1962,16755 L -2994,16743 L -3425,16724 L -3450,16699 L -3420,16643 L -3456,16558 L -3431,16442 L -3446,16382 L -3528,16352 L -3600,16292 L -3642,16141 L -3714,16101 L -3934,16096 L -3960,16036 L -4032,15991 L -4114,15901 L -4238,15795 L -4315,15695 L -4926,15656 L -4638,14081 z"
              id="Pike" />
        <path class="state"
              d="M 15181,-9941 L 15200,-9100 L 15207,-8651 L 15214,-8334 L 15220,-8228 L 15233,-7568 L 15253,-6585 L 15259,-6409 L 15259,-6369 L 15265,-6157 L 15266,-6102 L 15266,-5945 L 15179,-5945 L 14693,-5932 L 14560,-5932 L 14508,-5931 L 14396,-5931 L 11978,-5894 L 11964,-6755 L 11952,-8222 L 11925,-9809 L 11924,-9890 L 12708,-9889 L 13604,-9908 L 14377,-9922 L 15181,-9941 z"
              id="Portage" />
        <path class="state"
              d="M -17073,5913 L -16624,5927 L -16143,5937 L -15215,5950 L -14266,5954 L -14269,6930 L -14271,7882 L -14279,8853 L -14277,9603 L -14282,9840 L -15246,9831 L -16205,9813 L -17171,9789 L -17128,8024 L -17073,5913 z"
              id="Preble" />
        <path class="state"
              d="M -11845,-7861 L -10877,-7853 L -9904,-7845 L -9751,-7840 L -8931,-7837 L -8960,-5096 L -9928,-5099 L -9928,-4938 L -10896,-4941 L -10900,-4457 L -12390,-4469 L -12851,-4468 L -12842,-4962 L -13324,-4966 L -13316,-5934 L -12834,-5930 L -12816,-6897 L -12798,-7870 L -11845,-7861 z"
              id="Putnam" />
        <path class="state"
              d="M 776,-5879 L 852,-5879 L 1068,-5875 L 1155,-5870 L 1237,-5870 L 1247,-5875 L 1272,-5870 L 1324,-5871 L 1385,-5871 L 1406,-5866 L 1493,-5866 L 1667,-5867 L 1734,-5862 L 2046,-5863 L 2061,-5858 L 2471,-5854 L 2773,-5855 L 3029,-5856 L 3229,-5852 L 3301,-5852 L 3352,-5858 L 3377,-4573 L 3377,-4543 L 3384,-4019 L 3369,-3938 L 3370,-3868 L 3452,-3873 L 3452,-3802 L 3616,-3798 L 3616,-3722 L 3601,-3672 L 3637,-3642 L 3699,-3572 L 3699,-3506 L 3705,-3375 L 3705,-3164 L 3706,-3058 L 3706,-2902 L 3778,-2897 L 3896,-2897 L 4034,-2898 L 4048,-1976 L 4053,-1891 L 4067,-994 L 3744,-943 L 2602,-933 L 2279,-932 L 1638,-930 L 1632,-1116 L 1632,-1333 L 1620,-1756 L 1625,-1897 L 1455,-1896 L 1455,-2148 L 1454,-2183 L 1454,-2219 L 1613,-2219 L 1602,-2451 L 1601,-2698 L 756,-2715 L 775,-4534 L 777,-5531 L 776,-5723 L 776,-5879 z"
              id="Richland" />
        <path class="state"
              d="M -3875,10546 L -2419,10627 L -1501,10659 L -1449,10649 L -1424,10659 L -1388,10725 L -1387,10805 L -1403,10835 L -1454,10835 L -1479,10831 L -1495,10836 L -1515,10851 L -1531,10861 L -1551,10906 L -1561,10957 L -1330,10966 L -864,10995 L -792,10999 L -658,11009 L -638,11004 L -581,11014 L -320,11028 L -274,11033 L -99,11042 L -63,11042 L 655,11090 L 635,11443 L 630,11473 L 626,11574 L 601,12006 L 587,12203 L 543,12862 L 528,13069 L 499,13481 L 484,13713 L 465,13975 L 455,14085 L 455,14171 L 430,14428 L 266,14413 L 97,14398 L -201,14379 L -904,14331 L -1022,14321 L -1350,14302 L -1519,14288 L -1540,14288 L -4151,14099 L -4638,14081 L -4547,13688 L -4563,13688 L -4588,13693 L -4568,13612 L -4558,13512 L -4563,13482 L -4594,13467 L -4645,13497 L -4666,13542 L -4686,13568 L -4707,13573 L -4738,13558 L -4779,13528 L -4809,13497 L -4845,13487 L -4861,13482 L -4861,13462 L -4851,13422 L -4846,13372 L -4851,13352 L -4887,13327 L -4974,13276 L -4985,13251 L -4969,13211 L -4867,13176 L -4883,13115 L -4826,13034 L -4842,13014 L -4867,13014 L -4888,12969 L -4873,12884 L -4899,12843 L -4889,12803 L -4889,12758 L -4920,12687 L -4910,12662 L -4879,12647 L -4889,12582 L -4869,12501 L -4838,12456 L -4818,12405 L -4849,12335 L -4854,12300 L -4829,12249 L -4798,12184 L -4793,12083 L -3957,10687 L -3942,10677 L -3875,10546 z"
              id="Ross" />
        <path class="state"
              d="M -4993,-11496 L -4358,-11502 L -4364,-11492 L -4357,-11180 L -4357,-11018 L -3246,-11016 L -2985,-11012 L -2785,-11008 L -2744,-11008 L -2539,-11003 L -2063,-11000 L -2073,-10980 L -2073,-10954 L -2068,-10934 L -2037,-10914 L -2017,-10909 L -1996,-10904 L -1955,-10915 L -1914,-10899 L -1889,-10890 L -1853,-10900 L -1766,-10935 L -1725,-10945 L -1689,-10951 L -1638,-10936 L -1607,-10895 L -1582,-10875 L -1525,-10865 L -1500,-10871 L -1495,-10855 L -1489,-10845 L -1510,-10810 L -1540,-10785 L -1556,-10754 L -1540,-10689 L -1525,-10689 L -1520,-10719 L -1515,-10750 L -1474,-10785 L -1448,-10770 L -1422,-10750 L -1392,-10745 L -1356,-10755 L -1341,-10765 L -1315,-10801 L -1310,-10821 L -1320,-10841 L -1366,-10841 L -1377,-10861 L -1382,-10886 L -1402,-10906 L -1403,-10931 L -1367,-10957 L -1321,-10972 L -1295,-10972 L -1249,-10917 L -1249,-10886 L -1233,-10836 L -1202,-10791 L -1177,-10746 L -1136,-10685 L -1079,-10650 L -1012,-10610 L -982,-10605 L -905,-10600 L -833,-10626 L -721,-10702 L -419,-10703 L -255,-10703 L -209,-9141 L -197,-8758 L -520,-8762 L -679,-8766 L -1006,-8765 L -1165,-8765 L -1575,-8763 L -1636,-8763 L -1810,-8773 L -1928,-8773 L -2051,-8777 L -2148,-8777 L -2640,-8775 L -3423,-8743 L -3633,-8742 L -3751,-8747 L -3828,-8747 L -3997,-8751 L -4115,-8761 L -4232,-8766 L -4478,-8770 L -5057,-8764 L -5029,-9570 L -5015,-10296 L -4993,-11496 z"
              id="Sandusky" />
        <path class="state"
              d="M -3934,16096 L -3714,16101 L -3642,16141 L -3600,16292 L -3528,16352 L -3446,16382 L -3431,16442 L -3456,16558 L -3420,16643 L -3450,16699 L -3425,16724 L -2994,16743 L -1962,16755 L -1665,16764 L -721,16811 L 85,16859 L 244,16874 L 551,16893 L 552,16913 L 532,17144 L 488,17899 L 647,17904 L 714,17908 L 1135,17937 L 1181,17942 L 1263,17947 L 1448,17961 L 1408,18450 L 1389,18696 L 1374,18918 L 1354,18923 L 1339,19084 L 1057,19065 L 1002,19719 L 952,19870 L 793,19860 L 459,19836 L 440,20234 L 507,20390 L 667,20756 L 396,20878 L 18,21047 L 12,21050 L -55,21010 L -122,20954 L -183,20905 L -265,20797 L -268,20791 L -337,20593 L -339,20584 L -343,20553 L -349,20503 L -355,20397 L -360,20292 L -361,20196 L -366,20106 L -377,20050 L -389,19995 L -472,19850 L -507,19790 L -516,19769 L -537,19713 L -536,19699 L -511,19503 L -491,19422 L -488,19410 L -458,19288 L -462,19226 L -503,19121 L -513,19105 L -537,19078 L -562,19054 L -585,19035 L -610,19026 L -667,19010 L -945,19088 L -1080,19147 L -1098,19157 L -1127,19177 L -1266,19279 L -1302,19304 L -1319,19311 L -1394,19337 L -1543,19312 L -1700,19285 L -1713,19284 L -1851,19350 L -1907,19402 L -2010,19607 L -2017,19617 L -2097,19695 L -2301,19791 L -2311,19796 L -2450,19861 L -2472,19871 L -2561,19935 L -2567,19942 L -2652,20092 L -2679,20163 L -2740,20324 L -2751,20340 L -2806,20410 L -2896,20478 L -2920,20491 L -2936,20495 L -3048,20511 L -3301,20545 L -3312,20546 L -3322,20546 L -3369,20540 L -3427,20527 L -3500,20488 L -3627,20418 L -3631,20417 L -3684,20408 L -3746,20408 L -3828,20458 L -3905,20504 L -3930,20534 L -3919,17822 L -3934,16096 z"
              id="Scioto" />
        <path class="state"
              d="M -5057,-8764 L -4478,-8770 L -4232,-8766 L -4115,-8761 L -3997,-8751 L -3828,-8747 L -3751,-8747 L -3633,-8742 L -3423,-8743 L -2640,-8775 L -2148,-8777 L -2051,-8777 L -1928,-8773 L -1810,-8773 L -1636,-8763 L -1575,-8763 L -1165,-8765 L -1006,-8765 L -679,-8766 L -520,-8762 L -197,-8758 L -191,-8576 L -186,-8430 L -180,-8304 L -169,-7856 L -157,-7543 L -157,-7463 L -146,-7140 L -134,-6843 L -129,-6707 L -123,-6430 L -106,-5886 L -152,-5891 L -213,-5886 L -305,-5890 L -310,-5855 L -367,-5850 L -710,-5854 L -858,-5853 L -1837,-5855 L -2006,-5860 L -2037,-5860 L -2165,-5854 L -2492,-5853 L -2528,-5853 L -2687,-5858 L -3266,-5856 L -4311,-5858 L -4762,-5852 L -4869,-5851 L -5079,-5851 L -5079,-7463 L -5069,-7791 L -5070,-8008 L -5057,-8764 z"
              id="Seneca" />
        <path class="state"
              d="M -10054,-248 L -10061,775 L -10087,780 L -10095,1631 L -10136,1596 L -10186,2074 L -10231,2563 L -10230,2588 L -10275,3071 L -11936,2919 L -11937,2868 L -12987,2880 L -13756,2866 L -13740,1119 L -13735,857 L -12926,861 L -12908,-272 L -10054,-248 z"
              id="Shelby" />
        <path class="state"
              d="M 11978,-5894 L 14396,-5931 L 14508,-5931 L 14560,-5932 L 14560,-5821 L 14574,-4969 L 14609,-3045 L 14568,-3050 L 14501,-3045 L 13666,-3040 L 13666,-2965 L 13343,-2973 L 13327,-2162 L 13034,-2161 L 13004,-2161 L 12794,-2165 L 12681,-2164 L 11666,-2159 L 11671,-2220 L 11645,-2265 L 11584,-2300 L 11481,-2295 L 11410,-2183 L 9879,-1930 L 9872,-2302 L 9869,-3068 L 9846,-5038 L 11767,-4976 L 11783,-5893 L 11978,-5894 z"
              id="Stark" />
        <path class="state"
              d="M 11924,-9890 L 11925,-9809 L 11952,-8222 L 11964,-6755 L 11978,-5894 L 11783,-5893 L 11767,-4976 L 9846,-5038 L 9837,-5859 L 9494,-5857 L 9485,-9062 L 9798,-9069 L 9875,-9069 L 10233,-9076 L 10515,-9082 L 10550,-9112 L 10349,-9489 L 10287,-9691 L 10286,-9892 L 10496,-9893 L 11924,-9890 z"
              id="Summit" />
        <path class="state"
              d="M 15142,-11655 L 16135,-11660 L 16268,-11661 L 16749,-11674 L 17563,-11678 L 18352,-11688 L 19185,-11718 L 19189,-11617 L 19236,-9948 L 19275,-8556 L 19291,-7942 L 19298,-7702 L 19300,-7655 L 18142,-7629 L 17020,-7607 L 15233,-7568 L 15220,-8228 L 15214,-8334 L 15207,-8651 L 15200,-9100 L 15181,-9941 L 15169,-10365 L 15142,-11655 z"
              id="Trumbull" />
        <path class="state"
              d="M 9879,-1930 L 11410,-2183 L 11481,-2295 L 11584,-2300 L 11645,-2265 L 11671,-2220 L 11666,-2159 L 12681,-2164 L 12672,-1867 L 12659,-1217 L 13146,-1209 L 13137,-907 L 13133,-796 L 13128,-630 L 13127,251 L 13103,1697 L 12600,1694 L 12584,2696 L 12046,2689 L 10185,2657 L 10164,2657 L 10182,1836 L 10194,1025 L 9379,1004 L 9378,903 L 9396,183 L 9729,191 L 9734,171 L 9766,-1914 L 9879,-1930 z"
              id="Tuscarawas" />
        <path class="state"
              d="M -5104,-446 L -3659,-455 L -3662,245 L -3680,930 L -3664,1091 L -3670,2456 L -3024,2469 L -3011,3592 L -3014,3989 L -3322,3980 L -3947,3952 L -4757,3939 L -5859,3927 L -5845,3761 L -5766,2658 L -6253,2609 L -5965,-439 L -5104,-446 z"
              id="Union" />
        <path class="state"
              d="M -13316,-5934 L -13324,-4966 L -12842,-4962 L -12851,-4468 L -12855,-3990 L -13337,-3994 L -13354,-2543 L -13856,-2552 L -13852,-3031 L -14826,-3050 L -15820,-3068 L -16773,-3092 L -16731,-5082 L -16729,-5208 L -16727,-5246 L -16716,-5989 L -15749,-5970 L -14776,-5957 L -13807,-5938 L -13316,-5934 z"
              id="Van_Wert" />
        <path class="state"
              d="M 4540,12008 L 4472,12999 L 4805,13018 L 4761,13587 L 4732,14010 L 4404,13991 L 4341,14977 L 4277,15959 L 3841,15930 L 3303,15887 L 3347,15308 L 3352,15248 L 3356,15167 L 3366,15107 L 3376,14931 L 3381,14835 L 3391,14749 L 2390,14677 L 2420,14270 L 1430,14183 L 1429,14157 L 1439,14037 L 465,13975 L 484,13713 L 499,13481 L 528,13069 L 543,12862 L 587,12203 L 1556,12275 L 1571,12114 L 2412,12166 L 2582,12181 L 2601,11884 L 3576,11946 L 4540,12008 z"
              id="Vinton" />
        <path class="state"
              d="M -11144,9789 L -10426,9857 L -9969,9902 L -9999,10229 L -10014,10375 L -10019,10461 L -10039,10667 L -10208,12610 L -10272,13380 L -12457,13183 L -12432,13148 L -12432,13103 L -12458,13088 L -12499,13073 L -12504,13043 L -12473,12982 L -13089,12918 L -13253,12933 L -13169,11922 L -13083,11161 L -13084,11106 L -13114,11106 L -13069,10628 L -13025,10099 L -13076,10094 L -13194,10125 L -13255,10130 L -13312,10100 L -13313,9853 L -13308,9622 L -12677,9636 L -11144,9789 z"
              id="Warren" />
        <path class="state"
              d="M 13171,9439 L 13330,9439 L 13326,9766 L 13490,9765 L 13485,9740 L 13531,9740 L 15316,9781 L 15302,10139 L 15261,10174 L 15230,10210 L 15213,10231 L 15169,10298 L 15129,10340 L 15119,10350 L 15070,10402 L 14990,10475 L 14962,10506 L 14909,10569 L 14881,10601 L 14852,10640 L 14786,10728 L 14783,10733 L 14725,10851 L 14664,10957 L 14656,10969 L 14627,11028 L 14614,11054 L 14573,11129 L 14544,11173 L 14511,11199 L 14471,11215 L 14430,11225 L 14374,11233 L 14353,11235 L 14301,11241 L 14240,11261 L 14184,11282 L 14133,11317 L 14110,11334 L 14094,11349 L 14071,11372 L 14066,11378 L 14010,11462 L 13970,11503 L 13948,11527 L 13940,11535 L 13907,11569 L 13892,11585 L 13877,11615 L 13858,11678 L 13852,11697 L 13842,11741 L 13831,11792 L 13812,11842 L 13791,11862 L 13755,11883 L 13673,11878 L 13652,11875 L 13638,11871 L 13576,11853 L 13499,11855 L 13473,11862 L 13437,11874 L 13382,11894 L 13346,11909 L 13338,11911 L 13301,11917 L 13265,11933 L 13247,11944 L 13230,11954 L 13190,11985 L 13175,11994 L 13151,12006 L 13115,12023 L 13064,12052 L 13050,12062 L 13028,12077 L 13009,12094 L 12987,12113 L 12961,12138 L 12931,12158 L 12898,12181 L 12833,12223 L 12737,12281 L 12652,12349 L 12607,12368 L 12583,12376 L 12521,12397 L 12494,12399 L 12464,12400 L 12459,12401 L 12422,12392 L 12355,12368 L 12307,12324 L 12265,12272 L 12238,12215 L 12218,12157 L 12197,12081 L 12194,12071 L 12175,12016 L 12152,11947 L 12119,11872 L 12113,11861 L 12088,11825 L 12052,11775 L 12016,11740 L 11980,11710 L 11935,11680 L 11919,11670 L 11857,11650 L 11789,11646 L 11744,11651 L 11698,11671 L 11647,11705 L 11616,11742 L 11588,11775 L 11568,11803 L 11549,11835 L 11534,11860 L 11490,11927 L 11448,11984 L 11397,12035 L 11351,12075 L 11338,12084 L 11315,12098 L 11220,12161 L 11175,12182 L 11131,12202 L 11105,12214 L 11075,12227 L 11028,12247 L 10987,12274 L 10952,12310 L 10918,12352 L 10893,12388 L 10882,12415 L 10875,12434 L 10864,12484 L 10861,12499 L 10857,12540 L 10858,12580 L 10850,12636 L 10842,12706 L 10828,12777 L 10821,12857 L 10816,12928 L 10816,13003 L 10812,13065 L 10811,13129 L 10808,13159 L 10805,13181 L 10801,13205 L 10781,13232 L 10761,13241 L 10745,13245 L 10722,13242 L 10709,13239 L 10663,13226 L 10637,13216 L 10574,13183 L 10535,13165 L 10481,13155 L 10440,13149 L 10424,13146 L 10391,13151 L 10372,13155 L 10345,13162 L 10312,13166 L 10304,13166 L 10263,13157 L 10222,13143 L 10191,13137 L 10177,13135 L 10150,13132 L 10064,13128 L 9996,13138 L 9904,13163 L 9874,13177 L 9841,13195 L 9821,13210 L 9801,13229 L 9756,13273 L 9721,13329 L 9707,13365 L 9701,13391 L 9700,13406 L 9705,13445 L 9715,13486 L 9728,13530 L 9734,13565 L 9731,13617 L 9731,13661 L 9726,13703 L 9723,13728 L 9719,13745 L 9700,13767 L 9675,13778 L 9645,13789 L 9541,13799 L 9490,13814 L 9460,13830 L 9468,13221 L 8617,13204 L 8621,13008 L 8626,12887 L 8472,12878 L 8476,12717 L 8307,12712 L 8317,12541 L 8354,11570 L 8368,11242 L 8532,11252 L 8566,10753 L 8889,10767 L 8884,10802 L 9033,10807 L 9095,10812 L 9095,10857 L 9551,10875 L 9554,10331 L 9411,10327 L 9400,10166 L 9400,10116 L 9455,9964 L 9455,9899 L 9450,9798 L 9465,9743 L 9516,9718 L 9634,9712 L 9685,9667 L 10552,9698 L 11111,9711 L 11536,9724 L 11534,9029 L 11713,9033 L 11714,9184 L 12047,9188 L 12048,9354 L 12207,9353 L 12207,9509 L 12541,9513 L 12541,9593 L 13172,9600 L 13171,9439 z"
              id="Washington" />
        <path class="state"
              d="M 9494,-5857 L 9837,-5859 L 9846,-5038 L 9869,-3068 L 9872,-2302 L 5840,-2260 L 5825,-3479 L 5785,-5857 L 6216,-5854 L 8526,-5838 L 8679,-5844 L 8854,-5844 L 9427,-5852 L 9494,-5857 z"
              id="Wayne" />
        <path class="state"
              d="M -13169,-13898 L -13178,-13439 L -13182,-12890 L -13039,-12890 L -13053,-12114 L -13057,-11745 L -12735,-11741 L -12744,-11428 L -12748,-10783 L -13731,-10797 L -14688,-10810 L -15666,-10829 L -16629,-10843 L -16605,-11942 L -16604,-12000 L -16598,-12328 L -16565,-13838 L -15473,-13869 L -15109,-13874 L -13993,-13887 L -13169,-13898 z"
              id="Williams" />
        <path class="state"
              d="M -4993,-11496 L -5015,-10296 L -5029,-9570 L -5057,-8764 L -5070,-8008 L -5069,-7791 L -6027,-7793 L -6514,-7807 L -6990,-7816 L -7477,-7830 L -7958,-7834 L -8931,-7837 L -8931,-9782 L -8918,-10614 L -8790,-10604 L -8580,-10706 L -8437,-10756 L -8350,-10822 L -8191,-10878 L -8094,-10974 L -8023,-11105 L -7839,-11186 L -7691,-11328 L -7522,-11424 L -7471,-11505 L -7451,-11631 L -7436,-11737 L -7365,-11888 L -7268,-11954 L -7160,-11999 L -7038,-12060 L -6895,-12197 L -6705,-12288 L -6608,-12338 L -6562,-12439 L -6476,-12495 L -6455,-12581 L -6277,-12803 L -4997,-12822 L -4997,-12625 L -4994,-11657 L -4993,-11496 z"
              id="Wood" />
        <path class="state"
              d="M -5079,-5851 L -4869,-5851 L -4762,-5852 L -4311,-5858 L -3266,-5856 L -2687,-5858 L -2528,-5853 L -2492,-5853 L -2486,-5616 L -2487,-2629 L -2897,-2623 L -2974,-2623 L -3179,-2622 L -3461,-2626 L -3635,-2631 L -4070,-2625 L -4127,-2624 L -4126,-2458 L -4198,-2463 L -4772,-2466 L -5100,-2466 L -5269,-2470 L -5269,-2636 L -5746,-2635 L -5734,-3920 L -5898,-3924 L -5885,-4614 L -5880,-4892 L -5722,-4887 L -5563,-4887 L -5559,-5371 L -5400,-5371 L -5381,-5850 L -5079,-5851 z"
              id="Wyandot" />
    </svg>
    <table class="tooltip" v-if="hoverCounty">
        <tbody>
            <tr><th class="state" :class="{'not-passed': !hoverCounty.passed, passed: hoverCounty.passed}" colspan="2" v-text="hoverCounty.name"></th></tr>
            <tr>
                <td class="name">Signatures B&E</td>
                <td class="value">{{hoverCounty.countedBE}}</td>
            </tr>
            <tr>
                <td class="name">5% Threshold</td>
                <td class="value">{{hoverCounty.threshold}}</td>
            </tr>
        </tbody>
    </table>
</div>

