﻿
.state.passed{
	fill: blue;
	stroke: blue;
	background-color: #2d39ff;
}
.state.not-passed{
	fill: red;
	stroke: red;
	background-color: rgb(255, 96, 108);
}
.state {
    stroke: #000000;
    stroke-width: 58;
    stroke-linejoin: round;
    fill: #fff;
    fill-opacity: 0.5;
}

    .state.highlight {
        stroke-width: 160;
    }

.state-name {
    font-size: 700px;
}

[v-cloak] {
    display: none;
}

body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
}

#map {
    position: relative;
    width: 800px;
    height: 710px;
	margin: 0 auto;
}

#map h2{
	text-align: center;
}

table {
    background: #fff;
    margin-bottom: 1.25rem;
    border: solid 1px #ddd;
}

#map table {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.tooltip {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    -webkit-box-shadow: 7px 7px 12px -9px #777777;
    -moz-box-shadow: 7px 7px 12px -9px #777777;
    box-shadow: 7px 7px 12px -9px #777777;
    opacity: 0.9;
}

    .tooltip tr {
        border: 1px solid #CCC;
    }

    .tooltip th {
        background-color: #aaa;
        font-size: 14px;
        padding: 2px 5px;
        text-align: left;
        color: #FFF;
    }

    .tooltip td {
        font-size: 13px;
        padding: 3px 6px;
        background-color: #fff;
        border-left: 1px dotted #999;
    }
